/* Fixing for Amazon sheets */
#pimports_ext10
{
    display: none;
}

input[type="text"]
{
    background-color: transparent !important;  
    height: auto;  
    padding: 0 ; 
    line-height: normal !important; 
    border: 0 !important; 
    border-top: none !important; 
    border-radius: 0; 
    box-shadow: none !important;
    outline: 0 !important;
}

.ap__box label
{
    text-align: left;
}

/* ===========================
   App theme
   =========================== */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

.ap__box a{
    color: #489BFF;
}
.ap__box p
{
    margin: 0;
}
.ap__box ul
{
    margin: 0;
}
.ap__box ul, .ap__box ul li {
  list-style: none; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
.ap__box legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
.ap__box textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

:focus {
  outline: none; }

/* ===========================
   Base
   =========================== */
html {
  font-size: 62.5%; }

html, body {
  width: 100%;
  height: 100%; }

.ap__box h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1; }

.ap__box a, a:visited {
  text-decoration: none !important;
  color: #489BFF; 
}

body {
  color: #999DB2;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: #489BFF;
  border-radius: 10px; }

::-moz-selection {
  color: #489BFF; }

::selection {
  color: #489BFF; }

.ap__box input:placeholder, textarea:placeholder {
  text-overflow: ellipsis;
  color: #999DB2; }

.ap__box input::-moz-placeholder, textarea::-moz-placeholder {
  text-overflow: ellipsis;
  color: #999DB2; }

.ap__box input:-moz-placeholder, textarea:-moz-placeholder {
  text-overflow: ellipsis;
  color: #999DB2; }

.ap__box input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  text-overflow: ellipsis;
  color: #999DB2; }

.ap__box input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0; }

.btn {
  border: 0; }

.btn {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  border: 0;
  line-height: 1;
  cursor: pointer;
  display: inline-block; }

/* ===========================
   App layout
   =========================== */

.ap__box{
    color: #999DB2;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.ap__box {
  border-radius: 5px;
  max-width: 525px;
  margin: 0 auto;
  min-height: 100%; }
  .ap__box.ap__box--white {
    background: #F2F4F7; }
  .ap__box.ap__box--dark {
    background: #2F3243; }

.ap__wrap {
  margin: 0 auto;
  padding: 0 15px; }

.ap__header {
  font-size: 12px;
  line-height: 1.4;
  padding: 10px 0; }
  .ap__header .ap__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.ap__menu-list {
  margin-left: 20px;
  float: left; }
  .ap__menu-list:first-child {
    margin-left: 0; }

.ap__menu-link {
  position: relative; }

.ap__reviews-number {
  font-size: 12px; }

.ap__progress-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 1px; }

.ap__progress-bar__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px; }

.ap__header-separator {
  width: 1px;
  height: 30px;
  display: block; }

.ap__progress-bar--1 {
  background: #FF0505;
  width: 20%; }

.ap__progress-bar--2 {
  background: #FF782E;
  width: 40%; }

.ap__progress-bar--3 {
  background: #FFEA00;
  width: 60%; }

.ap__progress-bar--4 {
  background: #A3CE31;
  width: 80%; }

.ap__progress-bar--5 {
  background: #38CE31;
  width: 100%; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.icon-saved {
  background: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png') no-repeat 0 0;
  background-size: 150px 50px;
  width: 16px;
  height: 16px;
  margin: 0 3px 3px 0; }

.ap__keepa-link {
  background: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png') no-repeat -50px 0;
  background-size: 150px 50px;
  width: 23px;
  height: 17px;
  margin-right: -12px;
  display: inline-block; }

.ap__camel-link {
  background: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png') no-repeat -73px 0;
  background-size: 150px 50px;
  width: 23px;
  height: 17px;
  display: inline-block; }

.ap__breadcrumbs {
  font-size: 13px;
  line-height: 1.5;
  padding: 15px 0; }

.ap__about-buying {
  padding: 20px 0; }
  .ap__about-buying .ap__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.ap__column {
  width: 192px; }

.ap__column--medium {
  width: 235px; }
  .ap__column--medium .ap__label {
    width: 85px; }
  .ap__column--medium .ap__form-box {
    width: 150px; }

.ap__form-group {
  font-size: 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 10px; }

.ap__label {
  line-height: 30px;
  width: 90px; }

.ap__form-box {
  width: 105px;
  height: 30px;
  border-radius: 3px; }

.ap__form-box--flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center; }

.ap__input-box {
  font-weight: bold;
  position: relative;
  border-radius: 3px;
  height: 30px; }

.ap__input-box--small {
  width: 84px;
  border-radius: 3px 0 0 3px; }
  .ap__input-box--small .ap__input-text {
    border-radius: 3px 0 0 3px; }

.ap__input-box--flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center; }

.ap__valute {
  line-height: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 6px;
  z-index: 10; }

.ap__input-text {
  background: transparent;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px !important;
  border-radius: 3px !important;
  padding: 0 10px 0 20px !important; }

.ap__text {
  font-weight: bold;
  line-height: 30px; }

.ap__text--profit {
  padding-left: 20px; }

.ap__show-fees {
  float: right; }

.ap__dimensions {
  position: relative; }

.ap__text--sizes {
  font-size: 11px;
  text-align: center;
  font-weight: normal;
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 5px; }

.ap__dimensions-separator {
  font-weight: normal; }

.ap__roi {
  font-weight: bold;
  padding: 2px 7px;
  border-radius: 20px;
  display: inline-block; }

.ap__spinner {
  position: relative;
  height: 30px; }

.ap__spinner-link {
  position: absolute;
  top: 0;
  height: 30px;
  width: 29px; }
  .ap__spinner-link:before, .ap__spinner-link:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.ap__spinner-down {
  border-radius: 3px 0 0 3px;
  left: 0; }
  .ap__spinner-down:before {
    top: 50%;
    left: 50%;
    width: 8px;
    height: 2px; }

.ap__spinner-up {
  border-radius: 0 3px 3px 0;
  right: 0; }
  .ap__spinner-up:before {
    width: 8px;
    height: 2px; }
  .ap__spinner-up:after {
    width: 2px;
    height: 8px; }

.ap__spinner-input {
  background: transparent;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  height: 30px;
  margin: 0 29px;
  display: block;
  width: calc(100% - 58px);
  border-radius: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent; }

.ap__variations {
  text-align: center;
  padding: 5px 0 0; }
  .ap__variations.active .ap__variations-hidden {
    display: block; }

.ap__show-variations {
  display: inline-block;
  margin: 0 0 5px; }
  .ap__show-variations.active .icon-chevron {
    transform: rotate(-45deg);
    margin-bottom: -3px; }

.ap__variations-hidden {
  padding: 20px 0;
  display: none;
  border-radius: 0 0 3px 3px; }

.ap__table {
  font-size: 13px;
  text-align: left;
  width: 100%; }
  .ap__table th {
    font-weight: normal;
    padding: 0 0 10px; }
    .ap__table th:last-child {
      text-align: right; }
  .ap__table td {
    font-weight: bold;
    padding: 0 0 4px; }
    .ap__table td:last-child {
      text-align: right; }

.icon-chevron {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 4px 10px;
  width: 7px;
  height: 7px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-width: 2px;
  transform: rotate(135deg); }

.ap__select {
  width: 67px;
  position: relative; }
  .ap__select .ap__valute {
    left: 32px; }
  .ap__select.active .ap__dropdown {
    display: block; }

.ap__select-input {
  background: transparent;
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  height: 30px;
  padding: 0 38px 0 7px !important;
  border-radius: 0 3px 3px 0; }

.ap__open-dropdown {
  width: 7px;
  height: 7px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-width: 2px;
  transform: rotate(135deg);
  right: 5px;
  top: 11px;
  position: absolute; }
  .ap__open-dropdown.active {
    transform: rotate(-45deg);
    top: 14px; }

.ap__dropdown {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  border-radius: 3px;
  z-index: 50;
  display: none;
  overflow: hidden; }

.ap__dropdown-link {
  line-height: 30px;
  display: block;
  padding: 0 7px; }
  .ap__dropdown-link:hover {
    font-weight: bold; }

.ap__tooltip-box {
  position: relative;
  display: inline-block; }
  .ap__tooltip-box.active .ap__tooltip {
    display: block; }

.ap__tooltip {
  white-space: nowrap;
  padding: 10px 15px 20px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  border-radius: 3px;
  z-index: 50;
  display: none; }
  .ap__tooltip:before {
    position: absolute;
    left: 50%;
    bottom: -4px;
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent; }

.ap__tooltip-text {
  font-weight: bold;
  line-height: 1.5; }

.ap__tooltip-relative {
  position: relative;
  display: inline-block; }

.ap__tooltip-info-text {
  position: absolute;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  bottom: -12px;
  left: 0;
  right: 0;
  font-weight: normal; }

.ap__color-green {
  color: #38CE31; }

.ap__color-red {
  color: #FF5656; }

.ap__show-fees-box {
  display: inline-block;
  position: relative; }
  .ap__show-fees-box.active .ap__show-fees-dropdown {
    display: block; }

.ap__show-fees-dropdown {
  position: absolute;
  padding: 10px 15px;
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, 0);
  border-radius: 3px;
  z-index: 50;
  display: none; }
  .ap__show-fees-dropdown:before {
    position: absolute;
    left: 50%;
    bottom: -4px;
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent; }

.ap__fees-table {
  width: 100%;
  min-width: 200px; }
  .ap__fees-table td {
    font-size: 12px;
    padding: 0 0 5px; }
    .ap__fees-table td:last-child {
      font-weight: bold;
      text-align: right; }
  .ap__fees-table span {
    margin-right: 3px; }

.ap__fees-table--total {
  padding-top: 5px; }
  .ap__fees-table--total td {
    text-align: right; }

.ap__box--item {
  max-width: inherit;
  border-radius: 0; }
  .ap__box--item .ap__wrap {
    max-width: 1180px; }

.ap__header--item {
  padding: 30px 0 65px; }

.ap__logo {
  line-height: 1.4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.ap__logo-image {
  background: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png') no-repeat -100px 0;
  background-size: 150px 50px;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 8px; }

.ap__logo-text strong {
  font-size: 18px;
  font-weight: bold; }

.ap__header-box {
  height: 40px; }

.ap__header-links, .ap__select-color {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top; }

.ap__header-links {
  margin-right: 107px; }

.ap__hl-item {
  font-size: 14px;
  font-weight: bold;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  border-radius: 3px;
  margin-left: 12px;
  padding: 0 21px;
  transition: .2s; }
  .ap__hl-item:first-child {
    margin-left: 0; }

.ap__select-color {
  position: relative;
  padding: 0 40px;
  height: 40px; }

.ap__switch {
  width: 53px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin: 0 9px;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  transition: .2s; }
  .ap__switch:before {
    content: '';
    transition: .2s;
    border-radius: 100px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 2px; }

.ap__select-color__links {
  position: absolute; }
  .ap__select-color__links.active {
    font-weight: bold; }

.ap__dark {
  left: 0; }

.ap__light {
  right: 0; }

.ap__saved-table {
  padding: 0 0 50px; }

.ap__saved-table__title {
  padding: 16px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.ap__saved-table__line {
  font-size: 14px;
  line-height: 1.3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 10px;
  padding: 10px;
  border-radius: 3px;
  min-height: 60px; }
  .ap__saved-table__line .ap__col--5, .ap__saved-table__line .ap__col--6, .ap__saved-table__line .ap__col--7, .ap__saved-table__line .ap__col--8, .ap__saved-table__line .ap__col--9 {
    font-weight: bold; }

.ap__col {
  padding-right: 9px; }
  .ap__col:first-child {
    padding-left: 0; }

.ap__col--1 {
  width: 40px; }

.ap__col--2 {
  width: 230px; }

.ap__col--3 {
  width: 110px; }

.ap__col--4 {
  width: 150px; }

.ap__col--5 {
  text-align: right;
  width: 70px; }

.ap__col--6 {
  text-align: right;
  width: 70px; }

.ap__col--7 {
  text-align: right;
  width: 50px; }

.ap__col--8 {
  text-align: right;
  width: 50px; }

.ap__col--9 {
  width: 115px; }

.ap__col--9_5 {
  width: 100px; }

.ap__col--10 {
  width: 20px;
  padding: 0; }

.ap__col--11 {
  width: 16px; }

.ap__col-image {
  background-image: white;
  width: 40px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
  overflow: hidden; }
  .ap__col-image img {
    display: block;
    max-width: 80%; }

.ap__col-title {
  font-size: 14px;
  line-height: 1.3;
  font-weight: normal; }

.ap__statistics {
  background: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png') no-repeat -125px 0;
  background-size: 150px 50px;
  width: 15px;
  height: 14px;
  display: inline-block; }

.ap__remove {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png');
  background-repeat: no-repeat;
  background-size: 150px 50px;
  width: 16px;
  height: 16px;
  display: inline-block; }

.ap__col-title a {
  display: inline-block; }

.ap__box--white .ap__menu-link {
  color: #4E4E4E; }
  .ap__box--white .ap__menu-link:hover {
    color: #489BFF; }

.ap__box--white .ap__reviews-number {
  color: #A5ABB2; }

.ap__box--white .ap__header-separator {
  background: #CCD6D8; }

.ap__box--white .ap__progress-bar {
  background: #E3E3E3; }

.ap__box--white .ap__show-saved {
  color: #4E4E4E; }
  .ap__box--white .ap__show-saved:hover {
    color: #489BFF; }

.ap__box--white .icon-saved {
  background-position: -25px 0; }

.ap__box--white .ap__breadcrumbs {
  background: #E4E8EC;
  color: #71758B; }
  .ap__box--white .ap__breadcrumbs a {
    color: #A3B3BA; }
    .ap__box--white .ap__breadcrumbs a span {
      color: #5C6667; }

.ap__box--white .ap__form-box--bg {
  background: white;
  box-shadow: 0 2px 4px #E2E8EB; }
  .ap__box--white .ap__form-box--bg .ap__input-box--small {
    border-right: 1px solid #E5EAEE; }
  .ap__box--white .ap__form-box--bg .ap__input {
    color: #505859; }
    .ap__box--white .ap__form-box--bg .ap__input:hover {
      box-shadow: 0 4px 8px #D9DFE4; }
    .ap__box--white .ap__form-box--bg .ap__input:focus {
      border: 1px solid #489BFF; }

.ap__box--white .ap__spinner-input:hover {
  box-shadow: 0 4px 8px #D9DFE4; }

.ap__box--white .ap__spinner-input:focus {
  border: 1px solid #489BFF; }

.ap__box--white .ap__input-text, .ap__box--white .ap__select-input, .ap__box--white .ap__spinner-input {
  color: #505859; }

.ap__box--white .ap__valute {
  color: #9FA9AB; }
  .ap__box--white .ap__valute:hover + .ap__input {
    box-shadow: 0 4px 8px #D9DFE4; }

.ap__box--white .ap__text {
  color: #505859; }

.ap__box--white .ap__roi-color-1 {
  background: #FF0505;
  color: white; }

.ap__box--white .ap__roi-color-2 {
  background: #FF782E;
  color: white; }

.ap__box--white .ap__roi-color-3 {
  background: #FFDF49;
  color: #958438; }

.ap__box--white .ap__roi-color-4 {
  background: #A3CE31;
  color: white; }

.ap__box--white .ap__roi-color-5 {
  background: #38CE31;
  color: white; }

.ap__box--white .ap__variations {
  border-top: 1px solid #CCD6D8; }

.ap__box--white .ap__variations-hidden {
  background: #E4E8EC; }

.ap__box--white .ap__table span {
  color: #9FA9AB; }

.ap__box--white .ap__table th {
  color: #999DB2; }

.ap__box--white .ap__table td {
  color: #505859; }

.ap__box--white .ap__spinner-input {
  border-color: #E5EAEE; }

.ap__box--white .ap__spinner-down:before {
  background: #FF5656; }

.ap__box--white .ap__spinner-down:hover {
  background: #F3F4F7; }
  .ap__box--white .ap__spinner-down:hover:before {
    background: #FF8688; }

.ap__box--white .ap__spinner-down:active {
  background: transparent; }
  .ap__box--white .ap__spinner-down:active:before {
    background: #D74749; }

.ap__box--white .ap__spinner-up:before, .ap__box--white .ap__spinner-up:after {
  background: #38CE31; }

.ap__box--white .ap__spinner-up:hover {
  background: #F3F4F7; }
  .ap__box--white .ap__spinner-up:hover:before, .ap__box--white .ap__spinner-up:hover:after {
    background: #48E59A; }

.ap__box--white .ap__spinner-up:active {
  background: transparent; }
  .ap__box--white .ap__spinner-up:active:before, .ap__box--white .ap__spinner-up:active:after {
    background: #32BF7C; }

.ap__box--white .icon-chevron {
  border-color: #CCD6D8; }

.ap__box--white .ap__open-dropdown {
  border-color: #CCD6D8; }
  .ap__box--white .ap__open-dropdown:hover, .ap__box--white .ap__open-dropdown.active {
    border-color: #CCD6D8; }
  .ap__box--white .ap__open-dropdown:hover ~ .ap__input {
    box-shadow: 0 4px 8px #D9DFE4; }

.ap__box--white .ap__show-variations:hover, .ap__box--white .ap__show-fees:hover {
  color: #37C9FF; }

.ap__box--white .ap__dropdown {
  background: white;
  box-shadow: 0 7px 15px #C5CED4; }

.ap__box--white .ap__dropdown-link {
  color: #505859; }
  .ap__box--white .ap__dropdown-link:hover {
    background: #F2F4F7; }

.ap__box--white .ap__tooltip-info-text, .ap__box--white .ap__tooltip-text {
  color: #505859; }

.ap__box--white .ap__tooltip-text-last {
  color: #505859; }

.ap__box--white .ap__tooltip, .ap__box--white .ap__show-fees-dropdown {
  background: white;
  box-shadow: 0 7px 15px #C5CED4; }
  .ap__box--white .ap__tooltip:before, .ap__box--white .ap__show-fees-dropdown:before {
    border-top-color: white; }

.ap__box--white .ap__fees-table--total {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.ap__box--white .ap__fees-table span {
  color: #9FA9AB; }

.ap__box--white .ap__fees-table td:last-child {
  color: #505859; }

.ap__box--white .ap__logo-text {
  color: #9BACB3; }
  .ap__box--white .ap__logo-text strong {
    color: #636B6C; }

.ap__box--white .ap__hl-item {
  background: #E0E3E8;
  color: #505859; }
  .ap__box--white .ap__hl-item:hover {
    background: #E7EAEF; }
  .ap__box--white .ap__hl-item:active {
    background: #D2D5DA; }

.ap__box--white .ap__hl-item--blue {
  background: #489BFF;
  color: white; }
  .ap__box--white .ap__hl-item--blue:hover {
    background: #65C3FF; }
  .ap__box--white .ap__hl-item--blue:active {
    background: #358BC2; }

.ap__box--white .ap__switch {
  border-color: #DAE1EA; }
  .ap__box--white .ap__switch:before {
    background-color: #38CE31;
    left: auto;
    right: 2px; }

.ap__box--white .ap__select-color__links {
  color: #9BACB3; }
  .ap__box--white .ap__select-color__links.active {
    color: #505859; }

.ap__box--white .ap__col-image {
  background: white; }

.ap__box--white .ap__saved-table__line {
  background: white;
  color: #505859;
  box-shadow: 0px 2px 4px 0px #E2E8EB; }

.ap__box--white .ap__col-title a {
  color: #505859; }
  .ap__box--white .ap__col-title a:hover {
    color: #489BFF; }

.ap__box--white .ap__col-valute {
  color: #AFB7B9; }

.ap__box--white .ap__remove {
  background-position: -75px -25px; }
  .ap__box--white .ap__remove:hover {
    background-position: -100px -25px; }
  .ap__box--white .ap__remove:active {
    background-position: -125px -25px; }

.ap__box--white .ap__dark:hover ~ .ap__switch {
  border-color: #38CE31; }
  .ap__box--white .ap__dark:hover ~ .ap__switch:before {
    width: 20px; }

.ap__box--dark .ap__menu-link {
  color: white; }
  .ap__box--dark .ap__menu-link:hover {
    color: #489BFF; }

.ap__box--dark .ap__reviews-number {
  color: #5D617C; }

.ap__box--dark .ap__header-separator {
  background: #434866; }

.ap__box--dark .ap__progress-bar {
  background: black; }

.ap__box--dark .ap__show-saved {
  color: white; }
  .ap__box--dark .ap__show-saved:hover {
    color: #489BFF; }

.ap__box--dark .ap__breadcrumbs {
  background: #242735;
  color: #71758B; }
  .ap__box--dark .ap__breadcrumbs a {
    color: #71758B; }
    .ap__box--dark .ap__breadcrumbs a span {
      color: white; }

.ap__box--dark .ap__form-box--bg {
  background: #4A506A; }
  .ap__box--dark .ap__form-box--bg .ap__input-box--small {
    border-right: 1px solid #565E7D; }
  .ap__box--dark .ap__form-box--bg .ap__input:hover {
    background: #5D6486; }
  .ap__box--dark .ap__form-box--bg .ap__input:focus {
    background: #666E93 !important; }

.ap__box--dark .ap__spinner-input:hover {
  background: #5D6486; }

.ap__box--dark .ap__spinner-input:focus {
  background: #666E93 !important; }

.ap__box--dark .ap__input-text, .ap__box--dark .ap__select-input, .ap__box--dark .ap__spinner-input {
  color: white; }

.ap__box--dark .ap__valute {
  color: #808AB8; }
  .ap__box--dark .ap__valute:hover + .ap__input {
    background: #5D6486; }

.ap__box--dark .ap__text {
  color: white; }

.ap__box--dark .ap__roi-color-1 {
  color: #FF0505; }

.ap__box--dark .ap__roi-color-2 {
  color: #FF782E; }

.ap__box--dark .ap__roi-color-3 {
  color: #FFDF49; }

.ap__box--dark .ap__roi-color-4 {
  color: #A3CE31; }

.ap__box--dark .ap__roi-color-5 {
  color: #38CE31; }

.ap__box--dark .ap__variations {
  border-top: 1px solid #434866; }

.ap__box--dark .ap__variations-hidden {
  background: #242735; }

.ap__box--dark .ap__table span {
  color: #808AB8; }

.ap__box--dark .ap__table th {
  color: #999DB2; }

.ap__box--dark .ap__table td {
  color: white; }

.ap__box--dark .ap__spinner-input {
  border-color: #565E7D; }

.ap__box--dark .ap__spinner-link:before, .ap__box--dark .ap__spinner-link:after {
  background: white; }

.ap__box--dark .ap__spinner-link:hover {
  background: #5D6486; }
  .ap__box--dark .ap__spinner-link:hover:before, .ap__box--dark .ap__spinner-link:hover:after {
    background: #489BFF; }

.ap__box--dark .ap__spinner-link:active {
  background: #666E93; }
  .ap__box--dark .ap__spinner-link:active:before, .ap__box--dark .ap__spinner-link:active:after {
    background: #489BFF; }

.ap__box--dark .icon-chevron {
  border-color: #3A6291; }

.ap__box--dark .ap__open-dropdown {
  border-color: #868DB5; }
  .ap__box--dark .ap__open-dropdown:hover, .ap__box--dark .ap__open-dropdown.active {
    border-color: white; }
  .ap__box--dark .ap__open-dropdown:hover ~ .ap__input {
    background: #5D6486; }

.ap__box--dark .ap__show-variations:hover, .ap__box--dark .ap__show-fees:hover {
  color: #37C9FF !important;  }

.ap__box--dark .ap__dropdown {
  background: #5D6486; }

.ap__box--dark .ap__dropdown-link {
  color: white; }
  .ap__box--dark .ap__dropdown-link:hover {
    background: #489BFF; }

.ap__box--dark .ap__tooltip-info-text, .ap__box--dark .ap__tooltip-text {
  color: #7A7C88; }

.ap__box--dark .ap__tooltip-text-last {
  color: white; }

.ap__box--dark .ap__tooltip, .ap__box--dark .ap__show-fees-dropdown {
  background: rgba(36, 39, 53, 0.97); }
  .ap__box--dark .ap__tooltip:before, .ap__box--dark .ap__show-fees-dropdown:before {
    border-top-color: #242735; }

.ap__box--dark .ap__fees-table--total {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.ap__box--dark .ap__fees-table span.currency {
  color: #999DB2; }

.ap__box--dark .ap__fees-table td:last-child {
  color: white; }

.ap__box--dark .ap__logo-text {
  color: #999DB2; }
  .ap__box--dark .ap__logo-text strong {
    color: white; }

.ap__box--dark .ap__hl-item {
  background: #494D66;
  color: white; }
  .ap__box--dark .ap__hl-item:hover {
    background: #5D6486; }
  .ap__box--dark .ap__hl-item:active {
    background: #393D51; }

.ap__box--dark .ap__hl-item--blue {
  background: #489BFF; }
  .ap__box--dark .ap__hl-item--blue:hover {
    background: #65C3FF; }
  .ap__box--dark .ap__hl-item--blue:active {
    background: #358BC2; }

.ap__box--dark .ap__switch {
  border-color: #636886; }
  .ap__box--dark .ap__switch:before {
    background-color: white; }

.ap__box--dark .ap__select-color__links {
  color: #999DB2; }
  .ap__box--dark .ap__select-color__links.active {
    color: white; }

.ap__box--dark .ap__col-image {
  background: white; }

.ap__box--dark .ap__saved-table__line {
  background: #3E4258;
  color: white; }
  .ap__box--dark .ap__saved-table__line .ap__roi {
    padding-right: 0; }

.ap__box--dark .ap__col-title a {
  color: white; }
  .ap__box--dark .ap__col-title a:hover {
    color: #489BFF; }

.ap__box--dark .ap__col-valute {
  color: #808AB8; }

.ap__box--dark .ap__remove {
  background-position: 0 -25px; }
  .ap__box--dark .ap__remove:hover {
    background-position: -25px -25px; }
  .ap__box--dark .ap__remove:active {
    background-position: -50px -25px; }

.ap__box--dark .ap__light:hover ~ .ap__switch {
  border-color: white; }
  .ap__box--dark .ap__light:hover ~ .ap__switch:before {
    width: 20px; }

/*# sourceMappingURL=map/styles.css.map */
