/* Fixing for Amazon sheets */
#pimports_ext10
{
    display: none;
}

th.headerSortUp { 
    /*background-image: url(chrome-extension://__MSG_@@extension_id__/img/asc.gif);*/ 
} 

th.headerSortDown { 
    /*background-image: url(chrome-extension://__MSG_@@extension_id__/img/desc.gif);*/  
} 

#pimp_variations_div th {
    cursor: pointer;
}

input[type="text"]
{
    background-color: transparent !important;  
    height: auto;  
    padding: 0 ; 
    line-height: normal !important; 
    border: 0 !important; 
    border-top: none !important; 
    border-radius: 0; 
    box-shadow: none !important;
    outline: 0 !important;
}

.ap__box label
{
    text-align: left;
}

.ap__box .ap__label
{
    line-height: 1.4;
    font-weight: 400;
}

/* ===========================
   App theme
   =========================== */
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }

.clearfix:after {
    clear: both; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
    margin: 0; }

.ap__box a{
    color: #489BFF;
}
.ap__box p
{
    margin: 0;
}
.ap__box ul
{
    margin: 0;
}
.ap__box ul, .ap__box ul li {
    list-style: none; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    /* 1 */
    display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
    display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
    display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
    outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
    font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sub {
    bottom: -0.25em; }

sup {
    top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
    font: inherit;
    /* 1 */
    margin: 0;
    /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
    font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
.ap__box legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
.ap__box textarea {
    overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */ }

:focus {
    outline: none; }

/* ===========================
   Base
   =========================== */
html {
    font-size: 62.5%; }

html, body {
    width: 100%;
    height: 100%; }

.ap__box h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1; }

.ap__box a, a:visited {
    text-decoration: none !important;
    color: #489BFF; 
}

body {
    color: #999DB2;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased; }

::-webkit-scrollbar {
    width: 8px;
    height: 8px; }

::-webkit-scrollbar-thumb {
    background: #489BFF;
    border-radius: 10px; }

::-moz-selection {
    color: #489BFF; }

::selection {
    color: #489BFF; }

.ap__box input:placeholder, textarea:placeholder {
    text-overflow: ellipsis;
    color: #999DB2; }

.ap__box input::-moz-placeholder, textarea::-moz-placeholder {
    text-overflow: ellipsis;
    color: #999DB2; }

.ap__box input:-moz-placeholder, textarea:-moz-placeholder {
    text-overflow: ellipsis;
    color: #999DB2; }

.ap__box input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    text-overflow: ellipsis;
    color: #999DB2; }

.ap__box input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
    border: 0; }

.btn {
    border: 0; }

.btn {
    -ms-flex-item-align: baseline;
    align-self: baseline;
    border: 0;
    line-height: 1;
    cursor: pointer;
    display: inline-block; }

/* end container test responsive */
/* ===========================
   App layout
   =========================== */

.ap__box{
    color: #999DB2;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

.ap__box {
    border-radius: 5px;
    max-width: 870px;
    min-width: 525px;
    margin: 0 auto; }
.ap__box.ap__box--white {
    background: #F2F4F7; }
.ap__box.ap__box--dark {
    background: #2F3243; }

.ap__wrap {
    margin: 0 auto;
    padding: 0 15px; }

.ap__header {
    font-size: 12px;
    line-height: 1.4;
    padding: 10px 0; }
.ap__header .ap__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.ap__zally-logo {
    font: 900 14px/1 "Muli", sans-serif; }

.ap__menu-list {
    margin-left: 20px;
    float: left; }
.ap__menu-list:first-child {
    margin-left: 0; }

.ap__menu-link {
    position: relative; }

.ap__reviews-number {
    font-size: 12px; }

.ap__progress-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 1px; }

.ap__progress-bar__item {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px; }

.ap__header-separator {
    width: 1px;
    height: 30px;
    display: block; }

.ap__progress-bar--1 {
    background: #FF0505;
    width: 20%; }

.ap__progress-bar--2 {
    background: #FF782E;
    width: 40%; }

.ap__progress-bar--3 {
    background: #FFEA00;
    width: 60%; }

.ap__progress-bar--4 {
    background: #A3CE31;
    width: 80%; }

.ap__progress-bar--5 {
    background: #38CE31;
    width: 100%; }

.icon {
    display: inline-block;
    vertical-align: middle; }

.icon-saved {
    background: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png') no-repeat 0 0;
    background-size: 150px 50px;
    width: 16px;
    height: 16px;
    margin: 0 3px 3px 0; }

.ap__keepa-link {
    background: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png') no-repeat -50px 0;
    background-size: 150px 50px;
    width: 23px;
    height: 17px;
    margin-right: -12px;
    display: inline-block; }

.ap__camel-link {
    background: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png') no-repeat -73px 0;
    background-size: 150px 50px;
    width: 23px;
    height: 17px;
    display: inline-block; }

.icon-camel {
    background: url(../img/sprite.png) no-repeat -77px 0;
    background-size: 150px 50px;
    width: 20px;
    height: 17px; }

.ap__toggle-link {
    background: url('chrome-extension://__MSG_@@extension_id__/img/sprite2.png') no-repeat -12px -28px;
    width: 23px;
    height: 17px;
    display: inline-block; }

.ap__toggle-link.open {
    background-position-y: -53px;
}

.ap__breadcrumbs {
    line-height: 1.5;
    padding: 15px 0; }
.ap__breadcrumbs .ap__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }

.ap__breadcrumbs-item {
    margin: 0 20px 0 0;
    -ms-flex: auto;
    flex: auto; }

.ap__breadcrumbs-info {
    -ms-flex-negative: 0;
    flex-shrink: 0; }
.ap__breadcrumbs-info strong {
    margin: 0 5px; }

.ap__about-buying {
    padding: 20px 0; }

.ap__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.ap__column-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 14px; }
.ap__column-title h2 {
    font-size: 13px;
    line-height: 1.53;
    font-weight: bold;
    margin: 0 5px 0 0; }

.ap__faq-icon {
    font-size: 10px;
    font-weight: bold;
    width: 13px;
    height: 13px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    padding-bottom: 2px; }

.ap__targets-title {
    line-height: 1.53;
    margin: 0 0 3px; }

.ap__targets-list {
    color: #808AB8;
    margin: 0 0 10px; }
.ap__targets-list li {
    margin-bottom: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
.ap__targets-list em {
    font-style: normal; }

.ap__column-box {
    width: 360px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }

@media (min-width: 1280px) {
    .ap__column-box--small .ap__form-box {
        width: 100px; } }

@media (min-width: 1700px) {
    .ap__column-box--small {
        width: 313px; } }

@media (min-width: 0px) and (max-width: 1699px) {
    .ap__column-box--small {
        width: 214px; } }

@media (min-width: 0px) and (max-width: 1699px) {
    .ap__column-box--small-second {
        width: 130px; } }

.ap__column-box--small-second .ap__column--medium {
    width: 100%; }

.ap__column {
    width: 130px; }

.ap__column--medium {
    width: 214px; }
.ap__column--medium .ap__label {
    width: 80px; }
.ap__column--medium .ap__form-box {
    width: 130px; }

.ap__column--normal {
    margin-left: 20px; }
.ap__column--normal .ap__input-box--small,
.ap__column--normal .ap__form-box {
    width: auto; }
.ap__column--normal .ap__form-group {
    -ms-flex-pack: start;
    justify-content: flex-start; }

.ap__form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 10px; }

.ap__label {
    line-height: 30px;
    width: 75px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }

.ap__form-box {
    width: 130px;
    height: 30px;
    border-radius: 3px; }

.ap__form-box--flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }

.ap__input-box {
    font-weight: bold;
    position: relative;
    border-radius: 3px;
    height: 30px; }

.ap__input-box--small {
    width: 84px;
    border-radius: 3px 0 0 3px; }

.ap__valute {
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 6px;
    z-index: 10; }

.ap__input-text {
    background: transparent;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px !important;
    border-radius: 3px !important;
    padding: 0 10px 0 20px !important; }

.ap__text {
    font-weight: bold;
    line-height: 30px; }

.ap__text--profit {
    padding-left: 20px; }

.ap__show-fees {
    float: right; }

.ap__dimensions {
    position: relative; }

.ap__text--sizes {
    font-size: 11px;
    text-align: center;
    font-weight: normal;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 5px; }

.ap__dimensions-separator {
    font-weight: normal; }

.ap__roi {
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 20px;
    display: inline-block; }

.ap__spinner {
    position: relative;
    height: 30px; }

.ap__spinner-link {
    position: absolute;
    top: 0;
    height: 30px;
    width: 29px; }
.ap__spinner-link:before, .ap__spinner-link:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.ap__spinner-down {
    border-radius: 3px 0 0 3px;
    left: 0; }
.ap__spinner-down:before {
    top: 50%;
    left: 50%;
    width: 8px;
    height: 2px; }

.ap__spinner-up {
    border-radius: 0 3px 3px 0;
    right: 0; }
.ap__spinner-up:before {
    width: 8px;
    height: 2px; }
.ap__spinner-up:after {
    width: 2px;
    height: 8px; }

.ap__spinner-input {
    background: transparent;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    height: 30px;
    margin: 0 29px;
    display: block;
    width: calc(100% - 58px);
    border-radius: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent; }

.ap__variations {
    text-align: center;
    padding: 5px 0 0; }
.ap__variations.active .ap__variations-hidden {
    display: block; }

.ap__show-variations {
    display: inline-block;
    margin: 0 0 5px; }
.ap__show-variations.active .icon-chevron {
    transform: rotate(-45deg);
    margin-bottom: -3px; }

.ap__variations-hidden {
    padding: 20px 0;
    display: none;
    border-radius: 0 0 3px 3px; }

.ap__table {
    font-size: 13px;
    text-align: left;
    width: 100%; }
.ap__table th {
    font-weight: normal;
    padding: 0 0 10px; }
.ap__table th:last-child {
    text-align: right; }
.ap__table td {
    font-weight: bold;
    padding: 0 0 4px; }
.ap__table td:last-child {
    text-align: right; }

.icon-chevron {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 4px 10px;
    width: 7px;
    height: 7px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-width: 2px;
    transform: rotate(135deg); }

.ap__tooltip-box {
    position: relative;
    display: inline-block; }
.ap__tooltip-box.active .ap__tooltip {
    display: block; }

.ap__tooltip {
    white-space: nowrap;
    padding: 10px 15px 20px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    border-radius: 3px;
    z-index: 50;
    display: none; }
.ap__tooltip:before {
    position: absolute;
    left: 50%;
    margin-left: -4px;
    bottom: -4px;
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent; }

.ap__faq .ap__tooltip {
    white-space: normal;
    bottom: auto;
    top: 30px;
    width: 200px;
    padding: 10px 15px; }
.ap__faq .ap__tooltip:before {
    bottom: auto;
    top: -4px;
    border-top: 0;
    border-bottom: 4px solid transparent; }

.ap__tooltip-text {
    font-weight: bold;
    line-height: 1.5; }

.ap__tooltip-relative {
    position: relative;
    display: inline-block; }

.ap__tooltip-info-text {
    position: absolute;
    text-align: center;
    font-style: normal;
    font-size: 10px;
    text-transform: uppercase;
    bottom: -12px;
    left: 0;
    right: 0;
    font-weight: normal; }

.ap__color-green {
    color: #38CE31; }

.ap__color-red {
    color: #FF5656; }

.ap__show-fees-box {
    display: inline-block;
    position: relative; }
.ap__show-fees-box.active .ap__show-fees-dropdown {
    display: block; }

.ap__show-fees-dropdown {
    position: absolute;
    padding: 10px 15px;
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translate(-50%, 0);
    border-radius: 3px;
    z-index: 50;
    display: none; }
.ap__show-fees-dropdown:before {
    position: absolute;
    left: 50%;
    bottom: -4px;
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent; }

.ap__fees-table {
    width: 100%;
    min-width: 200px;
    color: white;
}
.ap__fees-table td {
    font-size: 12px;
    padding: 0 0 5px; }
.ap__fees-table td:last-child {
    font-weight: bold;
    text-align: right; }
.ap__fees-table span {
    margin-right: 3px; }

.ap__fees-table--total {
    padding-top: 5px; }
.ap__fees-table--total td {
    text-align: right; }

@media (min-width: 0px) and (max-width: 1679px) {
    .ap__visible-xl {
        display: none; } }

@media (min-width: 1680px) {
    .ap__hidden-xl {
        display: none; } }

.ap__editing-container {
    height: 230px; }
.ap__editing-container--medium {
    width: 225px; }
.ap__editing-container--small {
    width: 114px; }
.ap__editing-container--large {
    width: 360px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.ap__editing-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 20px; }

.ap__editing-item {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 130px;
    height: 100%;
    border-radius: 5px;
    transition: .2s ease; }
.ap__editing-container--medium .ap__editing-item,
.ap__editing-container--small .ap__editing-item {
    width: 100%; }

.ap__editing-item--top {
    border-radius: 5px 5px 0 0;
    margin-bottom: -2px; }

.ap__editing-checkbox, .ap__editing-title {
    width: 100%; }

.ap__editing-title {
    font-size: 13px;
    line-height: 1.53;
    font-weight: bold;
    margin: 0 0 12px; }

.ap__editing-checkbox {
    font-size: 12px;
    line-height: 1.42;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }

.ap__editing-item--medium {
    width: 210px; }

.ap__editing-item--small {
    height: 50%; }

.ap__editing-trigger {
    background: #636886;
    border-radius: 8px;
    width: 30px;
    height: 8px;
    margin: 0px 5px 0;
    position: relative; }
.ap__editing-trigger:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -3px;
    right: 0;
    transition: .2s ease; }

.ap__editing-off {
    font-weight: bold; }

.ap__editing-item.active {
    position: relative;
    z-index: 5; }
.ap__editing-item.active .ap__editing-off {
    font-weight: normal; }
.ap__editing-item.active .ap__editing-on {
    font-weight: bold; }

.ap__buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }

@media (min-width: 1700px) and (max-width: 1919px) {
    .ap__row--view-second .ap__column--medium {
        width: 170px; } }

@media (min-width: 0px) and (max-width: 1699px) {
    .ap__column-box--flex {
        -ms-flex-direction: column;
        flex-direction: column; } }

@media (min-width: 0px) and (max-width: 1699px) {
    .ap__column-title--hidden {
        display: none; } }

@media (min-width: 0px) and (max-width: 1699px) {
    .ap__hidden-lg {
        display: none; } }

.ap__hl-item {
    font-size: 14px;
    font-weight: bold;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    border-radius: 3px;
    margin-left: 12px;
    padding: 0 21px;
    transition: .2s; }
.ap__hl-item:first-child {
    margin-left: 0; }

.ap__box--white .ap__zally-logo {
    color: #505859; }

.ap__box--white .ap__menu-link {
    color: #4E4E4E; }
.ap__box--white .ap__menu-link:hover {
    color: #489BFF; }

.ap__box--white .ap__camel-link {
    color: #4E4E4E; }

.ap__box--white .ap__reviews-number {
    color: #A5ABB2; }

.ap__box--white .ap__header-separator {
    background: #CCD6D8; }

.ap__box--white .ap__progress-bar {
    background: #E3E3E3; }

.ap__box--white .ap__show-saved {
    color: #4E4E4E; }
.ap__box--white .ap__show-saved:hover {
    color: #489BFF; }

.ap__box--white .icon-saved {
    background-position: -25px 0; }

.ap__box--white .ap__breadcrumbs {
    background: #E4E8EC;
    color: #71758B; }
.ap__box--white .ap__breadcrumbs a {
    color: #A3B3BA; }

.ap__box--white .ap__breadcrumbs-item span {
    color: #5C6667; }

.ap__box--white .ap__breadcrumbs-info a {
    color: #489BFF; }

.ap__box--white .ap__breadcrumbs-info strong {
    color: #5C6667; }

.ap__box--white .ap__form-box--bg {
    background: white;
    box-shadow: 0 2px 4px #E2E8EB; }
.ap__box--white .ap__form-box--bg .ap__input {
    color: #505859; }
.ap__box--white .ap__form-box--bg .ap__input:hover {
    box-shadow: 0 4px 8px #D9DFE4; }
.ap__box--white .ap__form-box--bg .ap__input:focus {
    border: 1px solid #489BFF; }

.ap__box--white .ap__column-title h2 {
    color: #505859; }

.ap__box--white .ap__faq-icon {
    background: #C2D2D4;
    color: white; }

.ap__box--white .ap__targets-title {
    color: #505859; }

.ap__box--white .ap__targets-list {
    color: #9FA9AB; }
.ap__box--white .ap__targets-list span {
    color: #505859; }
.ap__box--white .ap__targets-list em {
    color: #505859; }
.ap__box--white .ap__targets-list p {
    margin-right: 7px;
    margin-left: 7px; }

.ap__box--white .ap__spinner-input:hover {
    box-shadow: 0 4px 8px #D9DFE4; }

.ap__box--white .ap__spinner-input:focus {
    border: 1px solid #489BFF; }

.ap__box--white .ap__input-text, .ap__box--white .ap__spinner-input {
    color: #505859; }

.ap__box--white .ap__valute {
    color: #9FA9AB; }
.ap__box--white .ap__valute:hover + .ap__input {
    box-shadow: 0 4px 8px #D9DFE4; }

.ap__box--white .ap__text {
    color: #505859; }

.ap__box--white .ap__roi-color-1 {
    background: #FF0505;
    color: white !important; }

.ap__box--white .ap__roi-color-2 {
    background: #FF782E;
    color: white !important; }

.ap__box--white .ap__roi-color-3 {
    background: #FFDF49;
    color: #958438 !important; }

.ap__box--white .ap__roi-color-4 {
    background: #A3CE31;
    color: white; }

.ap__box--white .ap__roi-color-5 {
    background: #38CE31;
    color: white; }

.ap__box--white .ap__variations {
    border-top: 1px solid #CCD6D8; }

.ap__box--white .ap__variations-hidden {
    background: #E4E8EC; }

.ap__box--white .ap__table span {
    color: #9FA9AB; }

.ap__box--white .ap__table th {
    color: #999DB2; }

.ap__box--white .ap__table td {
    color: #505859; }

.ap__box--white .ap__spinner-input {
    border-color: #E5EAEE; }

.ap__box--white .ap__spinner-down:before {
    background: #FF5656; }

.ap__box--white .ap__spinner-down:hover {
    background: #F3F4F7; }
.ap__box--white .ap__spinner-down:hover:before {
    background: #FF8688; }

.ap__box--white .ap__spinner-down:active {
    background: transparent; }
.ap__box--white .ap__spinner-down:active:before {
    background: #D74749; }

.ap__box--white .ap__spinner-up:before, .ap__box--white .ap__spinner-up:after {
    background: #38CE31; }

.ap__box--white .ap__spinner-up:hover {
    background: #F3F4F7; }
.ap__box--white .ap__spinner-up:hover:before, .ap__box--white .ap__spinner-up:hover:after {
    background: #48E59A; }

.ap__box--white .ap__spinner-up:active {
    background: transparent; }
.ap__box--white .ap__spinner-up:active:before, .ap__box--white .ap__spinner-up:active:after {
    background: #32BF7C; }

.ap__box--white .icon-chevron {
    border-color: #CCD6D8; }

.ap__box--white .ap__show-variations:hover {
    color: #37C9FF; }

.ap__box--white .ap__tooltip-info-text, .ap__box--white .ap__tooltip-text {
    color: #505859; }

.ap__box--white .ap__tooltip-text-last {
    color: #505859; }

.ap__box--white .ap__tooltip, .ap__box--white .ap__show-fees-dropdown {
    background: white;
    box-shadow: 0 7px 15px #C5CED4; }
.ap__box--white .ap__tooltip:before, .ap__box--white .ap__show-fees-dropdown:before {
    border-top-color: white; }

.ap__box--white .ap__tooltip {
    background: white;
    box-shadow: 0 7px 15px #C5CED4; }
.ap__box--white .ap__tooltip:before {
    border-top-color: white; }

.ap__box--white .ap__faq .ap__tooltip:before {
    border-top-color: transparent;
    border-bottom-color: white; }

.ap__box--white .ap__hl-item {
    background: #E0E3E8;
    color: #505859; }
.ap__box--white .ap__hl-item:hover {
    background: #E7EAEF; }
.ap__box--white .ap__hl-item:active {
    background: #D2D5DA; }

.ap__box--white .ap__hl-item--blue {
    background: #489BFF;
    color: white; }
.ap__box--white .ap__hl-item--blue:hover {
    background: #65C3FF; }
.ap__box--white .ap__hl-item--blue:active {
    background: #358BC2; }

.ap__box--white.ap__box--editing .ap__menu-link,
.ap__box--white.ap__box--editing .ap__show-saved,
.ap__box--white.ap__box--editing .icon-saved,
.ap__box--white.ap__box--editing .ap__camel-link,
.ap__box--white.ap__box--editing .ap__camel-link .icon {
    background: #E4E8EC;
    color: #E4E8EC; }

.ap__box--white.ap__box--editing .ap__progress-bar,
.ap__box--white.ap__box--editing .ap__reviews-number {
    display: none; }

.ap__box--white.ap__box--editing .ap__breadcrumbs-item,
.ap__box--white.ap__box--editing .ap__breadcrumbs-item span,
.ap__box--white.ap__box--editing .ap__breadcrumbs-info,
.ap__box--white.ap__box--editing .ap__breadcrumbs-info strong,
.ap__box--white.ap__box--editing .ap__breadcrumbs-info a {
    background: #F2F4F7;
    color: #F2F4F7; }

.ap__box--white .ap__editing-item {
    border: 2px dashed #E0E6EB; }

.ap__box--white .ap__editing-trigger {
    background: #DAE1EA; }
.ap__box--white .ap__editing-trigger:before {
    background: #A7AFBB; }

.ap__box--white .ap__editing-on {
    color: #9BACB3; }

.ap__box--white .ap__editing-off {
    color: #505859; }

.ap__box--white .ap__editing-title {
    color: #9BACB3; }

.ap__box--white .ap__editing-item.active {
    border-color: #AEB7C0; }
.ap__box--white .ap__editing-item.active .ap__editing-trigger {
    background: #636886; }
.ap__box--white .ap__editing-item.active .ap__editing-trigger:before {
    background: #3BD58C;
    left: 0; }
.ap__box--white .ap__editing-item.active .ap__editing-on {
    color: #505859; }
.ap__box--white .ap__editing-item.active .ap__editing-off {
    color: #9BACB3; }
.ap__box--white .ap__editing-item.active .ap__editing-title {
    color: #505859; }

.ap__box--dark .ap__zally-logo {
    color: white; }

.ap__box--dark .ap__menu-link {
    color: white; }
.ap__box--dark .ap__menu-link:hover {
    color: #489BFF; }

.ap__box--dark .ap__camel-link {
    color: #4E4E4E; }

.ap__box--dark .ap__camel-link {
    color: white; }
.ap__box--dark .ap__camel-link:hover {
    color: #489BFF; }

.ap__box--dark .ap__reviews-number {
    color: #5D617C; }

.ap__box--dark .ap__header-separator {
    background: #434866; }

.ap__box--dark .ap__progress-bar {
    background: black; }

.ap__box--dark .ap__show-saved {
    color: white; }
.ap__box--dark .ap__show-saved:hover {
    color: #489BFF; }

.ap__box--dark .ap__breadcrumbs {
    background: #242735;
    color: #71758B; }
.ap__box--dark .ap__breadcrumbs a {
    color: #71758B; }

.ap__box--dark .ap__breadcrumbs-item span {
    color: white; }

.ap__box--dark .ap__breadcrumbs-info a {
    color: #489BFF; }

.ap__box--dark .ap__breadcrumbs-info strong {
    color: white; }

.ap__box--dark .ap__form-box--bg {
    background: #4A506A; }
.ap__box--dark .ap__form-box--bg .ap__input:hover {
    background: #5D6486; }
.ap__box--dark .ap__form-box--bg .ap__input:focus {
    background: #666E93 !important; }

.ap__box--dark .ap__column-title h2 {
    color: white; }

.ap__box--dark .ap__faq-icon {
    background: #5D6176;
    color: white; }

.ap__box--dark .ap__targets-title {
    color: white; }

.ap__box--dark .ap__targets-list {
    color: #808AB8; }
.ap__box--dark .ap__targets-list span {
    color: white;
    margin-left: -7px; }
.ap__box--dark .ap__targets-list p {
    margin-right: 7px; }

.ap__box--dark .ap__spinner-input:hover {
    background: #5D6486; }

.ap__box--dark .ap__spinner-input:focus {
    background: #666E93 !important; }

.ap__box--dark .ap__input-text, .ap__box--dark .ap__spinner-input {
    color: white; }

.ap__box--dark .ap__valute {
    color: #808AB8; }
.ap__box--dark .ap__valute:hover + .ap__input {
    background: #5D6486; }

.ap__box--dark .ap__text {
    color: white; }

.ap__box--dark .ap__roi-color-1 {
    color: #FF0505 !important; }

.ap__box--dark .ap__roi-color-2 {
    color: #FF782E !important; }

.ap__box--dark .ap__roi-color-3 {
    color: #FFDF49 !important; }

.ap__box--dark .ap__roi-color-4 {
    color: #A3CE31 !important; }

.ap__box--dark .ap__roi-color-5 {
    color: #38CE31 !important; }

.ap__box--dark .ap__variations {
    border-top: 1px solid #434866; }

.ap__box--dark .ap__variations-hidden {
    background: #242735; }

.ap__box--dark .ap__table span {
    color: #808AB8; }

.ap__box--dark .ap__table th {
    color: #999DB2; }

.ap__box--dark .ap__table td {
    color: white; }

.ap__box--dark .ap__spinner-input {
    border-color: #565E7D; }

.ap__box--dark .ap__spinner-link:before, .ap__box--dark .ap__spinner-link:after {
    background: white; }

.ap__box--dark .ap__spinner-link:hover {
    background: #5D6486; }
.ap__box--dark .ap__spinner-link:hover:before, .ap__box--dark .ap__spinner-link:hover:after {
    background: #489BFF; }

.ap__box--dark .ap__spinner-link:active {
    background: #666E93; }
.ap__box--dark .ap__spinner-link:active:before, .ap__box--dark .ap__spinner-link:active:after {
    background: #489BFF; }

.ap__box--dark .icon-chevron {
    border-color: #3A6291; }

.ap__box--dark .ap__show-variations:hover {
    color: #37C9FF; }

.ap__box--dark .ap__tooltip-info-text, .ap__box--dark .ap__tooltip-text {
    color: #7A7C88; }

.ap__box--dark .ap__tooltip-text-last {
    color: white; }

.ap__box--dark .ap__tooltip, .ap__box--dark .ap__show-fees-dropdown {
    background: rgba(36, 39, 53, 0.97); }
.ap__box--dark .ap__tooltip:before, .ap__box--dark .ap__show-fees-dropdown:before {
    border-top-color: #242735; }

.ap__box--dark .ap__tooltip {
    background: rgba(36, 39, 53, 0.97); }
.ap__box--dark .ap__tooltip:before {
    border-top-color: #242735; }

.ap__box--dark .ap__faq .ap__tooltip:before {
    border-top-color: transparent;
    border-bottom-color: #242735; }

.ap__box--dark .ap__fees-table--total {
    border-top: 1px solid rgba(255, 255, 255, 0.1); }

.ap__box--dark .ap__fees-table span.currency {
    color: #999DB2; }

.ap__box--dark .ap__fees-table td:last-child {
    color: white; }

.ap__box--dark .ap__logo-text {
    color: #999DB2; }
.ap__box--dark .ap__logo-text strong {
    color: white; }

.ap__box--dark .ap__hl-item {
    background: #494D66;
    color: white; }
.ap__box--dark .ap__hl-item:hover {
    background: #5D6486; }
.ap__box--dark .ap__hl-item:active {
    background: #393D51; }

.ap__box--dark .ap__hl-item--blue {
    background: #489BFF; }
.ap__box--dark .ap__hl-item--blue:hover {
    background: #65C3FF; }
.ap__box--dark .ap__hl-item--blue:active {
    background: #358BC2; }

.ap__box--dark.ap__box--editing .ap__menu-link,
.ap__box--dark.ap__box--editing .ap__show-saved,
.ap__box--dark.ap__box--editing .icon-saved,
.ap__box--dark.ap__box--editing .ap__camel-link,
.ap__box--dark.ap__box--editing .ap__camel-link .icon {
    background: #242735;
    color: #242735; }

.ap__box--dark.ap__box--editing .ap__progress-bar,
.ap__box--dark.ap__box--editing .ap__reviews-number {
    display: none; }

.ap__box--dark.ap__box--editing .ap__breadcrumbs-item,
.ap__box--dark.ap__box--editing .ap__breadcrumbs-item span,
.ap__box--dark.ap__box--editing .ap__breadcrumbs-info,
.ap__box--dark.ap__box--editing .ap__breadcrumbs-info strong {
    background: #2F3243;
    color: #2F3243; }

.ap__box--dark .ap__editing-item {
    border: 2px dashed #3C4055; }

.ap__box--dark .ap__editing-trigger {
    background: #636886; }
.ap__box--dark .ap__editing-trigger:before {
    background: #8187AB; }

.ap__box--dark .ap__editing-on {
    color: #9A9DB2; }

.ap__box--dark .ap__editing-off {
    color: white; }

.ap__box--dark .ap__editing-title {
    color: #9A9DB2; }

.ap__box--dark .ap__editing-item.active {
    border-color: #6C7399; }
.ap__box--dark .ap__editing-item.active .ap__editing-trigger {
    background: #636886; }
.ap__box--dark .ap__editing-item.active .ap__editing-trigger:before {
    background: #489BFF;
    left: 0; }
.ap__box--dark .ap__editing-item.active .ap__editing-on {
    color: white; }
.ap__box--dark .ap__editing-item.active .ap__editing-off {
    color: #9A9DB2; }
.ap__box--dark .ap__editing-item.active .ap__editing-title {
    color: white; }

/*# sourceMappingURL=map/styles.css.map */


/* ============================================================================================================ */
/*                                                      RANK DIV - START
/* ============================================================================================================ */
.zally-rank-div {
    background-color: #2F3243;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 100%;
    max-width: 475px;
    box-sizing: border-box !important;
    min-height: 35px;
}

.zally-rank-div .zally-rank-div-row {
    display: block;
    padding: 2px;
}

.zally-rank-div .left-border {
    border-left: solid 1px #97938c;
    padding-left: 3px;
    margin-left: 3px;
}

.zally-rank-div .txt-red, .zally-rank-div .txt-red a {
    color: red !important;
}

.zally-rank-div .txt-blue, .zally-rank-div .txt-blue a {
    color: #bbbdff !important;
}


.zally-rank-div-small {
    font-size: 11px;
    height: 80px;
    overflow:auto;
}

.zally-rank-div-small .hide-small {
    display:none;
}

.zally-rank-div-inline {
    font-size: 11px;
}
.zally-rank-div-inline .zally-rank-div-row {
    display:inline-block;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}

.zally-rank-price-history-box {
    display: none;
    box-sizing: border-box !important;
    width: 750px;
    height: 450px;
    background-color: white;
    border: solid 5px #5D6486;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 9999;
    right: 50px;
    top: 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: -4px 9px 44px 14px rgba(0,0,0,0.27);
    -moz-box-shadow: -4px 9px 44px 14px rgba(0,0,0,0.27);
    box-shadow: -4px 9px 44px 14px rgba(0,0,0,0.27);
}

.zally-rank-price-history-box iframe {
    padding:0;
    margin:0;
    border:none;
    width: 100%;
    height: 440px;
}
a.zally-rank-price-history-box-close {
    display:block;
    position:absolute;
    z-index:5;
    right: 0;
    top: 0;
    padding: 5px 10px;
    background-color: #5d6486;
    color: white !important;
}
a.zally-rank-price-history-box-close:hover {
    text-decoration: none;
    background-color: #999DB2;
    color: white !important;
}

.zally-link {
    cursor:pointer;
}
.zally-link:hover {
    cursor:pointer;
    text-decoration:underline;
}
/* ============================================================================================================ */
/*                                                      RANK DIV - END
/* ============================================================================================================ */

