/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Mar-2017, 19:24:59
    Author     : cashif
*/



#zally_options
{
    z-index: 0;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.2);
    /*width: 100%;*/
    box-shadow: 0 2px 4px rgba(0,0,0,.13);
    background-color: #fff;;
    
    margin: 10px 0 10px 0;
    width: 400px;
    /*margin-right: 60%;*/
    /*float: left;*/
    box-sizing: border-box;
    padding: 20px;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*position: relative;*/
    
    margin: 20px auto;
    
}

/*body
{
    padding: 20px;
    width: 500px;
    height: 500px !important;
    margin: 20px auto;
}*/

.zally_opt_title
{
    width: 100%;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px 5px 5px;
}

.row
{
    width: 100%;
    margin: 10px 0;
    float: left;
    display: block;
}
#status
{
    display:none;
    background-color: yellowgreen;
    border: 1px solid green;
    padding: 10px;
    box-sizing: border-box;
    color: black;
}
.clearx
{
    clear:both;
}
span.label
{
    width: 100px;
    display: inline-block;
}
#seller_limit
{
    width: 30px;
}
.small_input
{
    width: 50px;
}
.roi_target
{
    width: 30px;
}

label
{
    font-weight: normal !important;
}

input[type="text"]
{
    border: 1px gray solid !important;
    padding: 0 5px !important;
}

#app_status
{
    background-color: #38CE31;
    border: 1px solid green;
    padding: 10px;
    box-sizing: border-box;
    color: black;
}

#app_status.yellow
{
    background-color: #ffcc66;
    border-color: #ff9900;
}

#app_status.red
{
    background-color: #ff6666;
    border-color: #cc0000;
}