
.pp_table
{
    border: 1px solid;
    border-color: #CDD1DC;
}
.pp_table thead tr
{
    background: #EEEFF3;
}

.pp_table tbody tr td:nth-child(even)
{
    background: #F9F9F9;
}

#table_header
{
    height: 50px;
    margin-bottom: 0px;
    width: 100%;
    background: #D7DBE4;
    border: #CDD1DC 1px solid;
    border-bottom: 0px;
}

.table-wrapper
{
    margin-top: 20px;
}

.controls{
    padding-left: 15px;
    padding-right: 15px;
}

.control{
    margin-left: 10px;
    float: left;
    height: 35px;
}

.hidden
{
    display: none;
}

.ibox-title{
    text-align: center;
}

.right{float: right;}