/* temp warning box on top of page */
.ss_warning {
    padding: 10px;
    color: red;
    background-color: #efe0aa;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

/* ===========================
   App theme
   =========================== */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

ul {
  list-style: none; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

:focus {
  outline: none; }

/* ===========================
   Base
   =========================== */
html {
  font-size: 62.5%; }

html, body {
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1; }

a, a:visited {
  text-decoration: none;
  color: #489BFF; }

body {
  color: #999DB2;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: #489BFF;
  border-radius: 10px; }

::-moz-selection {
  color: #489BFF; }

::selection {
  color: #489BFF; }

input:placeholder, textarea:placeholder {
  text-overflow: ellipsis;
  color: #999DB2; }

input::-moz-placeholder, textarea::-moz-placeholder {
  text-overflow: ellipsis;
  color: #999DB2; }

input:-moz-placeholder, textarea:-moz-placeholder {
  text-overflow: ellipsis;
  color: #999DB2; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  text-overflow: ellipsis;
  color: #999DB2; }

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0; }

.btn {
  border: 0; }

.btn {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  border: 0;
  line-height: 1;
  cursor: pointer;
  display: inline-block; }

/* ===========================
   App layout
   =========================== */
.ss__box {
  margin: 0 auto;
  min-height: 100%; }
  .ss__box.ss__box--white {
    background: #F2F4F7; }
  .ss__box.ss__box--dark {
    background: #2F3243; }

.ss__wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1180px; }

.ss__header {
  padding: 35px 0 46px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.ss__logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 24px; }

.ss__logo-image {
  background: url('chrome-extension://__MSG_@@extension_id__/img/stockstats.png') no-repeat 0 0;
  background-size: 200px 100px;
  width: 24px;
  height: 19px;
  display: block;
  margin-right: 8px; }

.ss__logo-text {
  font-size: 18px;
  font-weight: bold; }

.ss__header-box {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  vertical-align: middle; }

.ss__select-color {
  position: relative;
  padding: 0 40px;
  display: inline-block;
  vertical-align: middle; }

.ss__switch {
  width: 53px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin: 0 9px;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  transition: .2s; }
  .ss__switch:before {
    content: '';
    transition: .2s;
    border-radius: 100px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 2px; }

.ss__select-color__links {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }
  .ss__select-color__links.active {
    font-weight: bold; }

.ss__dark {
  left: 0; }

.ss__light {
  right: 0; }

.ss__keepa-link {
  background: url('chrome-extension://__MSG_@@extension_id__/img/stockstats.png') no-repeat 0 -25px;
  background-size: 200px 100px;
  display: block;
  width: 84px;
  height: 30px;
  margin-left: 68px; }

.ss__product {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 45px; }

.ss__product-image {
  background: white;
  width: 70px;
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0; }
  .ss__product-image img {
    max-width: 90%; }

.ss__product-item {
  width: 630px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 90px;
  position: relative; }

.ss_product-title {
  font-size: 18px;
  line-height: 1.44;
  font-weight: normal;
  margin: 0 0 5px; }
  .ss_product-title a {
    display: inline-block; }

.ss_product-item__info p {
  display: inline-block;
  margin-right: 21px; }
  .ss_product-item__info p:last-child {
    margin-left: 0; }

.ss__product-info {
  width: 545px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.ss__info-label {
  line-height: 1.2;
  display: inline-block; }

.ss__info-item {
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -ms-flex-align: center;
  align-items: center; }

.ss__number {
  font-size: 36px;
  line-height: 1;
  margin-right: 12px; }

.ss__select {
  display: inline-block;
  margin-left: 9px;
  position: relative; }
  .ss__select.active .ss__dropdown {
    display: block; }

.ss__open-dropdown {
  line-height: 30px;
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  padding: 0 22px 0 8px;
  position: relative;
  transition: .2s; }
  .ss__open-dropdown:before {
    content: '';
    width: 6px;
    height: 6px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-width: 2px;
    transform: rotate(135deg);
    right: 8px;
    top: 10px;
    position: absolute; }
  .ss__open-dropdown.active:before {
    transform: rotate(-45deg);
    top: 14px; }

.ss__dropdown {
  position: absolute;
  top: 35px;
  left: 0;
  min-width: 100%;
  border-radius: 3px;
  z-index: 50;
  display: none;
  overflow: hidden; }

.ss__dropdown-link {
  line-height: 30px;
  display: block;
  padding: 0 7px; }
  .ss__dropdown-link:hover {
    font-weight: bold; }

.ss__color-green {
  color: #38CE31 !important; }

.ss__color-red {
  color: #FF5656 !important; }

.ss__table {
  padding: 0 0 70px; }

.ss__table-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px; }

.ss__table-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 4px;
  padding: 16px;
  border-radius: 3px; }
  .ss__table-line p {
    font-size: 14px;
    font-weight: bold; }

.stock-icon {
  background: url('chrome-extension://__MSG_@@extension_id__/img/stockstats.png') no-repeat -175px 0;
  background-size: 200px 100px;
  width: 6px;
  height: 7px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px; }

.ss__col {
  padding-right: 13px; }
  .ss__col:last-child {
    padding-right: 0; }

.ss__col-1 {
  width: 17px;
  margin-right: 5px; }

.ss__col-2 {
  width: 275px; }

.ss__col-3 {
  width: 140px; }

.ss__col-4 {
  width: 115px; }

.ss__col-5 {
  width: 220px; }

.ss__col-6 {
  width: 320px; }

.ss__stars-text {
  font-size: 13px; }

.ss__visible {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/stockstats.png');
  background-repeat: no-repeat;
  background-size: 200px 100px;
  width: 16px;
  height: 12px;
  display: block; }

.ss__visible--hidden {
  width: 17px;
  height: 16px; }

.ss__stars {
  background: url('chrome-extension://__MSG_@@extension_id__/img/stockstats.png') no-repeat -100px -50px;
  background-size: 200px 100px;
  width: 101px;
  height: 16px;
  margin-right: 9px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px; }

.ss__stars-item {
  background: url('chrome-extension://__MSG_@@extension_id__/img/stockstats.png') no-repeat -100px -25px;
  background-size: 200px 100px;
  position: absolute;
  width: 100%;
  height: 16px; }

.ap__box--item {
  max-width: inherit;
  border-radius: 0; }
  .ap__box--item .ap__wrap {
    max-width: 1180px; }

.ap__header--item {
  padding: 30px 0 65px; }

.ap__logo {
  line-height: 1.4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.ap__logo-image {
  background: url('chrome-extension://__MSG_@@extension_id__/img/stockstats.png') no-repeat -100px 0;
  background-size: 150px 50px;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 8px; }

.ap__logo-text strong {
  font-size: 18px;
  font-weight: bold; }

.ap__header-box {
  height: 40px; }

.ap__header-links, .ap__select-color {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top; }

.ap__header-links {
  margin-right: 107px; }

.ap__hl-item {
  font-size: 14px;
  font-weight: bold;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  border-radius: 3px;
  margin-left: 12px;
  padding: 0 21px;
  transition: .2s; }
  .ap__hl-item:first-child {
    margin-left: 0; }

.ap__select-color {
  position: relative;
  padding: 0 40px;
  height: 40px; }

.ap__switch {
  width: 53px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin: 0 9px;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  transition: .2s; }
  .ap__switch:before {
    content: '';
    transition: .2s;
    border-radius: 100px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 2px; }

.ap__select-color__links {
  position: absolute; }
  .ap__select-color__links.active {
    font-weight: bold; }

.ap__dark {
  left: 0; }

.ap__light {
  right: 0; }

.ap__saved-table {
  padding: 0 0 50px; }

.ap__saved-table__title {
  padding: 16px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.ap__saved-table__line {
  font-size: 14px;
  line-height: 1.3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 10px;
  padding: 10px;
  border-radius: 3px;
  height: 60px; }
  .ap__saved-table__line .ap__col--5, .ap__saved-table__line .ap__col--6, .ap__saved-table__line .ap__col--7, .ap__saved-table__line .ap__col--8, .ap__saved-table__line .ap__col--9 {
    font-weight: bold; }

.ap__col {
  padding-right: 9px; }
  .ap__col:first-child {
    padding-left: 0; }

.ap__col--1 {
  width: 40px; }

.ap__col--2 {
  width: 330px; }

.ap__col--3 {
  width: 110px; }

.ap__col--4 {
  width: 150px; }

.ap__col--5 {
  text-align: right;
  width: 70px; }

.ap__col--6 {
  text-align: right;
  width: 70px; }

.ap__col--7 {
  width: 50px; }

.ap__col--8 {
  width: 50px; }

.ap__col--9 {
  width: 115px; }

.ap__col--10 {
  width: 15px; }

.ap__col--11 {
  width: 16px; }

.ap__col-image {
  background-image: white;
  width: 40px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
  overflow: hidden; }
  .ap__col-image img {
    display: block;
    max-width: 80%; }

.ap__col-title {
  font-size: 14px;
  line-height: 1.3;
  font-weight: normal; }

.ap__statistics {
  background: url('chrome-extension://__MSG_@@extension_id__/img/stockstats.png') no-repeat -125px 0;
  background-size: 150px 50px;
  width: 15px;
  height: 14px;
  display: inline-block; }

.ap__remove {
  background-image: url('chrome-extension://__MSG_@@extension_id__/img/stockstats.png');
  background-repeat: no-repeat;
  background-size: 150px 50px;
  width: 16px;
  height: 16px;
  display: inline-block; }

.ss__box--white .ss__logo-text {
  color: #505859; }

.ss__box--white .ss__switch {
  border-color: #DAE1EA; }
  .ss__box--white .ss__switch:before {
    background-color: #38CE31;
    left: auto;
    right: 2px; }

.ss__box--white .ss__select-color__links {
  color: #999DB2; }
  .ss__box--white .ss__select-color__links.active {
    color: #505859; }

.ss__box--white .ss__dark:hover ~ .ss__switch {
  border-color: #38CE31; }
  .ss__box--white .ss__dark:hover ~ .ss__switch:before {
    width: 20px; }

.ss__box--white .ss_product-title a {
  color: #505859; }
  .ss__box--white .ss_product-title a:hover {
    color: #489BFF; }

.ss__box--white .ss_product-item__info p span {
  color: #505859; }

.ss__box--white .ss__open-dropdown {
  background: white;
  color: #505859;
  box-shadow: 0 2px 4px #E2E8EB; }
  .ss__box--white .ss__open-dropdown:before {
    border-color: #CCD6D8; }
  .ss__box--white .ss__open-dropdown:hover {
    box-shadow: 0 4px 8px #D9DFE4;
    background: #F3F4F7; }
  .ss__box--white .ss__open-dropdown:active, .ss__box--white .ss__open-dropdown.active {
    background: #FFFFFF;
    border: 1px solid #489BFF; }

.ss__box--white .ss__dropdown {
  background: white;
  box-shadow: 0 7px 15px #C5CED4; }

.ss__box--white .ss__dropdown-link {
  color: #505859; }
  .ss__box--white .ss__dropdown-link:hover {
    background: #F2F4F7; }

.ss__box--white .ss__number {
  color: #505859; }

.ss__box--white .ss__valute {
  color: #AFB7B9; }

.ss__box--white .ss__table-line {
  background: white;
  box-shadow: 0 2px 4px #E2E8EB; }
  .ss__box--white .ss__table-line p {
    color: #505859; }

.ss__box--white .ss__visible {
  background-position: -75px -75px; }
  .ss__box--white .ss__visible:hover {
    background-position: -100px -75px; }
  .ss__box--white .ss__visible:active {
    background-position: -125px -75px; }

.ss__box--white .ss__col-1 {
  width: 17px; }

.ss__box--white .ss__visible--hidden {
  background-position: -100px 0; }
  .ss__box--white .ss__visible--hidden:hover {
    background-position: -125px 0; }
  .ss__box--white .ss__visible--hidden:active {
    background-position: -150px 0; }

.ss__box--dark .ss__logo-text {
  color: white; }

.ss__box--dark .ss__switch {
  border-color: #636886; }
  .ss__box--dark .ss__switch:before {
    background-color: white; }

.ss__box--dark .ss__select-color__links {
  color: #999DB2; }
  .ss__box--dark .ss__select-color__links.active {
    color: white; }

.ss__box--dark .ss__light:hover ~ .ss__switch {
  border-color: white; }
  .ss__box--dark .ss__light:hover ~ .ss__switch:before {
    width: 20px; }

.ss__box--dark .ss_product-title a {
  color: white; }
  .ss__box--dark .ss_product-title a:hover {
    color: #489BFF; }

.ss__box--dark .ss_product-item__info p span {
  color: white; }

.ss__box--dark .ss__open-dropdown {
  background: #4A506A;
  color: white; }
  .ss__box--dark .ss__open-dropdown:before {
    border-color: #868DB5; }
  .ss__box--dark .ss__open-dropdown:hover {
    background: #5D6486; }
    .ss__box--dark .ss__open-dropdown:hover:before {
      border-color: white; }
  .ss__box--dark .ss__open-dropdown:active, .ss__box--dark .ss__open-dropdown.active {
    background: #666E93; }
    .ss__box--dark .ss__open-dropdown:active:before, .ss__box--dark .ss__open-dropdown.active:before {
      border-color: white; }

.ss__box--dark .ss__dropdown {
  background: #5D6486; }

.ss__box--dark .ss__dropdown-link {
  color: white; }
  .ss__box--dark .ss__dropdown-link:hover {
    background: #489BFF; }

.ss__box--dark .ss__number {
  color: white; }

.ss__box--dark .ss__valute {
  color: #808AB8; }

.ss__box--dark .ss__table-line {
  background: #3E4258; }
  .ss__box--dark .ss__table-line p {
    color: white; }

.ss__box--dark .ss__visible {
  background-position: 0 -75px; }
  .ss__box--dark .ss__visible:hover {
    background-position: -25px -75px; }
  .ss__box--dark .ss__visible:active {
    background-position: -50px -75px; }

.ss__box--dark .ss__visible--hidden {
  background-position: -25px 0; }
  .ss__box--dark .ss__visible--hidden:hover {
    background-position: -50px 0; }
  .ss__box--dark .ss__visible--hidden:active {
    background-position: -75px 0; }

/*# sourceMappingURL=map/styles.css.map */


/* social media */
.ss_social_media
{
    height: 30px;
    margin-right: 10px;
}
.ss_social_media a:active, .ss_social_media a:visited, .ss_social_media a:invalid
{
    text-decoration: none;
    color: #999DB2;
}

.ss_social_media_inner
{
    height: 15px;
    font-size: 11px;
}

.ss_social_media_icon
{
    float: left;
    width: 13px;
    margin-right: 5px;
    vertical-align: middle;
}

.ss_social_media_icon_yt
{
    padding-top: 4px;
}