
#pimports_ext10
{
    z-index: 999999;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.2);
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,.13);
    background-color: #fff;;
    
    margin: 10px 0 10px 0;
    width: 100%;
    /*height: 300px;*/
    margin-right: 60%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#div_left
{
    width: 100%;
    float: left;
    position: relative;
}

#div_right
{
    width: 25%;
    float: left;
    padding-left: 15px;
    box-sizing: border-box;
}

.asi_row
{
    width: 100%;
    display: block;
    float: left;
}

.clearx
{
    clear: both;
}

.red
{
    color: black;
    font-size: 11px;
    font-style: italic;
}

.asi_table
{
    width: 100%
        
}

.asi_table th:first-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 10px;
}

.asi_table th:last-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.asi_table th
{
    width: 14.28%;
    background-color: #cceeff;
    font-weight: bold;
    padding: 5px;
}
.asi_table td
{
    padding: 5px;
}

.lbl_sellers
{
    margin-left: 0;
}

.lbl_first_page
{
    margin-left: 10%;
}

.lbl_shipping
{
    margin-left: 43%;
}

#links_table
{
    position:absolute;
    bottom: 0;
}





.icon_cont
{
    float: right;
    margin-right: 8px;
}
.settings_icon, .refresh_icon, .icon
{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#i_total
{
    font-weight: bold;
    color: darkblue;
}

#amz_seller_rank
{
    width: 100%;
    color: black;
    font: 14px bold;
    font-weight: bold;
    font-family: arial;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    background: #cceeff;
    text-align: center;
}


.bold
{
    font-weight: bold;
}

.logo{
    display: inline-block;
    margin-right: 15px;
    float: left
}
.logo img{
    width: 30px;
}

.links_table
{
    float: left;
    width: calc(100% - 50px);
    margin-top: 5px;
}

#calculator
{
    width: 60%;
    float: left;
    padding-top: 10px;
}
#info
{
    width: 39%;
    float: left;
    padding-top: 10px;
}

.header{
    width: 100%;
    display: block;
    background-color: #cceeff;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

#pimp_variations_div
{
    display: none;
    float: left;
    width: 100%;
}

.pimp_top_bar_icon
{
    width: 20px;
}

#pimp_fees
{
    z-index: 999999;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.2);
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,.13);
    background-color: #fff;;
    
    margin: 10px 0 10px 0;
    width: 100%;
    /*height: 300px;*/
    margin-right: 60%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
    position: absolute;
    display: none;
    top: 0;
    left: -205px;
}

.rltv
{
    position: relative;
}