<div class="ap__box ap__box--dark" id="pimports_ext10">
  <div class="ap__header">
    <div class="ap__wrap">
      <div class="ap__zally-logo">
        Zally
      </div>
      <!--/.ap__zally-logo-->
      <ul class="ap__menu">
        <li class="ap__menu-list">
          <a href="#" class="ap__menu-link link_reviews">
            Reviews <span class="ap__reviews-number">2k</span>
            <span class="ap__progress-bar">
              <span class="ap__progress-bar__item ap__progress-bar--1"></span>
            </span>
          </a>
        </li>
        <li class="ap__menu-list">
          <a href="#" target="_blank" class="ap__menu-link link_sellers">Sellers</a>
        </li>
        <li class="ap__menu-list">
          <a href="#" target="_blank" class="ap__menu-link link_calc">Amz Calc</a>
        </li>
        <li class="ap__menu-list">
          <a href="#" target="_blank" class="ap__menu-link link_details">StockStats</a>
        </li>
      </ul>
      <span class="ap__header-separator"></span>
      <a href="#" class="ap__show-saved" id="save">
        <i class="icon icon-saved"></i>
      </a>
      <a href="<%= show_saved_url %>"  target="_blank" class="ap__show-saved link_saved">Show saved
      </a>
      <span class="ap__header-separator"></span>
      <a href="#" class="ap__show-saved link_saved" target="_blank" id="sellable"></a>
      <a href="#" class="ap__keepa-link link_keepa" target="_blank">
        <i class="icon icon-keepa"></i>
        <span class="ap__visible-xl"></span>
      </a>
      <a href="#" class="ap__camel-link link_camel" target="_blank">
        <i class="icon icon-camel"></i>
        <span class="ap__visible-xl"></span>
      </a>
      <a href="javascript:void(0);" class="ap__toggle-link open" data-open="true"></a>
    </div>
    <!--/.ap__wrap-->
  </div>
  <!--/.ap__header-->
  <div class="ap__body">
    <div class="ap__breadcrumbs">
      <div class="ap__wrap">
        <div class="ap__breadcrumbs-item" id="amz_seller_rank">
          <span></span>
        </div>
        <!--/.ap__breadcrumbs-item-->
        <div class="ap__breadcrumbs-info">
          <a href="#" class="ap__hidden-xl">Details</a>
          <strong id="_sales">#</strong>
          Sales
        </div>
        <!--/.ap__breadcrumbs-info-->
      </div>
      <!--/.ap__wrap-->
    </div>
    <!--/.ap__breadcrumbs-->
    <div class="ap__about-buying">
      <div class="ap__wrap">
        <div class="ap__row">
          <div class="ap__column">
            <div class="ap__column-title">
              <h2>ROI Targets</h2>
              <div class="ap__faq ap__tooltip-box">
                <a href="#" class="ap__faq-icon">?</a>
                <div class="ap__tooltip">
                  <p>
                    ROI Targets allows you to know what ROI bracket your item falls in without typing in the Buy Price allowing you to quantify your finds rapidly.
                  </p>
                </div>
                <!--/.ap__tooltip-->
              </div>
              <!--/.ap__faq-->
            </div>
            <!--/.ap__column-title-->
            <div class="ap__targets">
              <div class="ap__targets-title ui_roi_fba" >FBA</div>
              <ul class="ap__targets-list ui_roi_fba">
                <li>
                  <span class="ap__roi ap__roi-color-1 roi_target_1" >10%</span>
                  <p>—</p>
                  <em id='roi_target_10_fba'>$ 16.00</em>
                </li>
                <li>
                  <span class="ap__roi ap__roi-color-2 roi_target_2">20%</span>
                  <p>—</p>
                  <em id='roi_target_20_fba'>$ 14.00</em>
                </li>
                <li>
                  <span class="ap__roi ap__roi-color-3 roi_target_3">40%</span>
                  <p>—</p>
                  <em id='roi_target_40_fba'>$ 9.00</em>
                </li>
              </ul>
              <div class="ap__targets-title ui_roi_mfn">MFN</div>
              <ul class="ap__targets-list ui_roi_mfn">
                <li>
                  <span class="ap__roi ap__roi-color-1 roi_target_1">10%</span>
                  <p>—</p>
                  <em id='roi_target_10_mfn'>$ 16.00</em>
                </li>
                <li>
                  <span class="ap__roi ap__roi-color-2 roi_target_2">20%</span>
                  <p>—</p>
                  <em id='roi_target_20_mfn'>$ 14.00</em>
                </li>
                <li>
                  <span class="ap__roi ap__roi-color-3 roi_target_3">40%</span>
                  <p>—</p>
                  <em id='roi_target_40_mfn'>$ 9.00</em>
                </li>
              </ul>
            </div>
            <!--/.ap__targets-->
          </div>
          <!--/.ap__column-->
          <div class="ap__column-box">
            <div class="ap__column ap__column--medium ui_fba_sellers">
              <div class="ap__column-title">
                <h2>
                  FBA <span id="_fba"></span>
                </h2>
                <div class="ap__show-fees-box">
                  <a href="#" class="ap__fees ap__show-fees">Fees</a>
                  <div class="ap__show-fees-dropdown">
                    <table class="ap__fees-table" id="fee_table_fba">
                    </table>
                    <table class="ap__fees-table ap__fees-table--total">
                      <tr>
                        <td>Total per 1 item</td>
                        <td id="pimp_fee_total_fba">
                          <span class="currency">
                            <%= currency %>
                          </span>
                          <span class='val'></span>
                        </td>
                      </tr>
                      <tr>
                        <td>Total Fees</td>
                        <td id="pimp_fee_total_final_fba">
                          <span class="currency">
                            <%= currency %>
                          </span>
                          <span class='val'></span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <!--/.ap__column-title-->
              <div class="ap__form-group">
                <label class="ap__label">Sell price</label>
                <div class="ap__form-box ap__form-box--bg">
                  <div class="ap__input-box">
                    <span class="ap__valute">
                      <%= currency %>
                    </span>
                    <input type="text" class="ap__input ap__input-text" value="10" id="sell_price_fba">
                                </div>
                  <!--/.ap__input-box-->
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <label class="ap__label">Buy price</label>
                <div class="ap__form-box ap__form-box--bg">
                  <div class="ap__input-box">
                    <span class="ap__valute">
                      <%= currency %>
                    </span>
                    <input type="text" class="ap__input ap__input-text" value="10" id="buy_price_fba">
                                </div>
                  <!--/.ap__input-box-->
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <label class="ap__label">Quantity</label>
                <div class="ap__form-box ap__form-box--bg">
                  <div class="ap__spinner">
                    <a href="#" class="ap__spinner-link ap__spinner-down"></a>
                    <a href="#" class="ap__spinner-link ap__spinner-up"></a>
                    <input type="text" class="ap__spinner-input" value="1" id="quantity_fba">
                                </div>
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <label class="ap__label">Profit</label>
                <div class="ap__form-box ap__form-box--flex">
                  <div class="ap__input-box ap__input-box--small">
                    <span class="ap__valute" id="currency">
                      <%= currency %>
                    </span>
                    <p class="ap__text ap__text--profit" id="profit_fba">0.97</p>
                  </div>
                  <!--/.ap__input-box-->
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <label class="ap__label">Net profit</label>
                <div class="ap__form-box">
                  <div class="ap__input-box">
                    <div class="ap__tooltip-box">
                      <span class="ap__valute" id="currency">
                        <%= currency %>
                      </span>
                      <p class="ap__text ap__text--profit" id="net_profit_fba">97</p>
                      <div class="ap__tooltip">
                        <p class="ap__tooltip-text">
                          <span class="ap__tooltip-relative ap__color-green" >
                            <span id="net_profit_sale_fba">
                              <%= currency %>1,500
                            </span>
                            <em class="ap__tooltip-info-text">SALE</em>
                          </span>
                          –
                          <span class="ap__color-red">
                            (
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_buy_fba">
                                <%= currency %>1,000
                              </span>
                              <em class="ap__tooltip-info-text">BUY</em>
                            </span> +
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_fee_fba">
                                <%= currency %>403
                              </span>
                              <em class="ap__tooltip-info-text">FEES</em>
                            </span> +
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_inbound_fba">
                                <%= currency %>555
                              </span>
                              <em class="ap__tooltip-info-text">INB</em> +
                            </span>
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_sales_tax_fba">
                                <%= currency %>0
                              </span>
                              <em class="ap__tooltip-info-text">ST</em> +
                            </span>
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_other_costs_fba">
                                <%= currency %>0
                              </span>
                              <em class="ap__tooltip-info-text">OTHER</em>
                            </span>
                            )
                          </span>
                          = <span class="ap__tooltip-text-last" id="net_profit_net_profit_fba">
                            <%= currency %>97
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--/.ap__input-box-->
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <label class="ap__label">ROI</label>
                <div class="ap__form-box ap__form-box--flex">
                  <span class="ap__roi ap__roi-color-1" id="roi_fba">7%</span>
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
            </div>
            <!--/.ap__column-->
            <div class="ap__column ui_mfn_sellers">
              <div class="ap__column-title">
                <h2>
                  MFN <span id="_fbm"></span>
                </h2>
                <div class="ap__show-fees-box">
                  <a href="#" class="ap__fees ap__show-fees">Fees</a>
                  <div class="ap__show-fees-dropdown">
                    <table class="ap__fees-table" id="fee_table_mfn">
                    </table>
                    <table class="ap__fees-table ap__fees-table--total">
                      <tr>
                        <td>Total per 1 item</td>
                        <td id="pimp_fee_total_mfn">
                          <span class="currency">
                            <%= currency %>
                          </span>
                          <span class='val'></span>
                        </td>
                      </tr>
                      <tr>
                        <td>Total Fees</td>
                        <td id="pimp_fee_total_final_mfn">
                          <span class="currency">
                            <%= currency %>
                          </span>
                          <span class='val'></span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <!--/.ap__column-title-->
              <div class="ap__form-group">
                <div class="ap__form-box ap__form-box--bg">
                  <div class="ap__input-box">
                    <span class="ap__valute">
                      <%= currency %>
                    </span>
                    <input type="text" class="ap__input ap__input-text" value="10" id="sell_price_mfn">
                                </div>
                  <!--/.ap__input-box-->
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <div class="ap__form-box ap__form-box--bg">
                  <div class="ap__input-box">
                    <span class="ap__valute">
                      <%= currency %>
                    </span>
                    <input type="text" class="ap__input ap__input-text" value="3" id="buy_price_mfn">
                                </div>
                  <!--/.ap__input-box-->
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <div class="ap__form-box ap__form-box--bg">
                  <div class="ap__spinner">
                    <a href="#" class="ap__spinner-link ap__spinner-down"></a>
                    <a href="#" class="ap__spinner-link ap__spinner-up"></a>
                    <input type="text" class="ap__spinner-input" value="1" id="quantity_mfn">
                                </div>
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <div class="ap__form-box ap__form-box--flex">
                  <div class="ap__input-box ap__input-box--small">
                    <span class="ap__valute">
                      <%= currency %>
                    </span>
                    <p class="ap__text ap__text--profit" id="profit_mfn">0.97</p>
                  </div>
                  <!--/.ap__input-box-->
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <div class="ap__form-box">
                  <div class="ap__input-box">
                    <div class="ap__tooltip-box">
                      <span class="ap__valute">
                        <%= currency %>
                      </span>
                      <p class="ap__text ap__text--profit" id="net_profit_mfn">97</p>


                      <div class="ap__tooltip">
                        <p class="ap__tooltip-text">
                          <span class="ap__tooltip-relative ap__color-green" >
                            <span id="net_profit_sale_mfn">
                              <%= currency %>1,500
                            </span>
                            <em class="ap__tooltip-info-text">SALE</em>
                          </span>
                          –
                          <span class="ap__color-red">
                            (
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_buy_mfn">
                                <%= currency %>1,000
                              </span>
                              <em class="ap__tooltip-info-text">BUY</em>
                            </span> +
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_fee_mfn">
                                <%= currency %>0
                              </span>
                              <em class="ap__tooltip-info-text">FEES</em>
                            </span> +
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_inbound_mfn">
                                <%= currency %>555
                              </span>
                              <em class="ap__tooltip-info-text">INB</em> +
                            </span>
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_sales_tax_mfn">
                                <%= currency %>0
                              </span>
                              <em class="ap__tooltip-info-text">ST</em> +
                            </span>
                            <span class="ap__tooltip-relative" >
                              <span id="net_profit_other_costs_mfn">
                                <%= currency %>0
                              </span>
                              <em class="ap__tooltip-info-text">OTHER</em>
                            </span>
                            )
                          </span>
                          = <span class="ap__tooltip-text-last" id="net_profit_net_profit_mfn">
                            <%= currency %>97
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--/.ap__input-box-->
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
              <div class="ap__form-group">
                <div class="ap__form-box ap__form-box--flex">
                  <span class="ap__roi ap__roi-color-3" id="roi_mfn">7%</span>
                </div>
                <!--/.ap__form-box-->
              </div>
              <!--/.ap__form-group-->
            </div>
            <!--/.ap__column-->
          </div>
          <!--/.ap__column-->
          <div class="ap__column ap__column--medium ap__visible-xl">
            <div class="ap__column-title">
              <h2>&nbsp;</h2>
            </div>
            <!--/.ap__column-title-->
            <div class="ap__form-group">
              <label class="ap__label">ASIN</label>
              <div class="ap__form-box">
                <p class="ap__text" id="_asin">B001DHECXA</p>
              </div>
              <!--/.ap__form-box-->
            </div>
            <!--/.ap__form-group-->
            <div class="ap__form-group">
              <label class="ap__label">Weight</label>
              <div class="ap__form-box">
                <p class="ap__text" id="_weight">N/A</p>
              </div>
              <!--/.ap__form-box-->
            </div>
            <!--/.ap__form-group-->
            <div class="ap__form-group">
              <label class="ap__label">Dimensions</label>
              <div class="ap__form-box ap__form-box--flex">
                <div class="ap__dimensions">
                  <p class="ap__text" id="_dim_w">-</p>
                  <span class="ap__text--sizes">W</span>
                </div>
                <span class="ap__dimensions-separator">x</span>
                <div class="ap__dimensions">
                  <p class="ap__text" id="_dim_h">-</p>
                  <span class="ap__text--sizes">H</span>
                </div>
                <span class="ap__dimensions-separator">x</span>
                <div class="ap__dimensions">
                  <p class="ap__text" id="_dim_d">-</p>
                  <span class="ap__text--sizes">D</span>
                </div>
              </div>
              <!--/.ap__form-box-->
            </div>
            <!--/.ap__form-group-->
          </div>
          <!--/.ap__column-->
        </div>
        <!--/.ap__row-->
      </div>
      <!--/.ap__wrap-->
    </div>
    <!--/.ap__about-buying-->
    <div class="ap__variations">
      <a href="#" class="ap__show-variations" id="pimp_show_variations">
        Show variations<i class="icon-chevron"></i>
      </a>
      <div class="ap__variations-hidden">
        <div class="ap__wrap" id="pimp_variations_div">
          <table class="ap__table">
            <thead>
              <tr>
                <th>ASIN</th>
                <th>Size</th>
                <th>Color</th>
                <th>Price</th>
                <th>Offers</th>
                <th>Reviews</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>B01G4DVP1E</td>
                <td>7 D(M) US</td>
                <td>Black/Storm Cloud</td>
                <td>
                  <span>
                    <%= currency %>
                  </span> 248
                </td>
                <td>1</td>
              </tr>
              <tr>
                <td>B014K3FDVS</td>
                <td>7 D(M) US</td>
                <td>Black/White</td>
                <td>
                  <span>
                    <%= currency %>
                  </span> 230
                </td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--/.ap__wrap -->
      </div>
      <!--/.ap__variations-hidden-->
    </div>
    <!--/.ap__variations-->
  </div>
  <!--/.ap__body-->

</div>
<!--/.ap__box-->

<script>
  $(document).ready(function () {
  $(".ap__select .ap__open-dropdown").click(function (e) {
  e.preventDefault();
  $(this).siblings(".ap__dropdown").first().slideToggle();
  });

  $(".ap__dropdown-link").click(function (e) {
  e.preventDefault();
  var val = parseFloat($(this).text());
  var dropdown = $(this).parents(".ap__dropdown");
  dropdown.slideUp();
  dropdown.siblings('.ap__select-input').val(val);
  });

  $(".ap__show-fees").hover(function () {
  $(this).siblings(".ap__show-fees-dropdown").show();
  }, function () {
  $(this).siblings(".ap__show-fees-dropdown").hide();
  });

  $(".ap__spinner .ap__spinner-down").click(function (e) {
  e.preventDefault();
  var input = $(this).siblings(".ap__spinner-input");
  var old = parseFloat(input.val()) || 0;
  input.val(old - 1);
  input.change();
  });

  $(".ap__spinner .ap__spinner-up").click(function (e) {
  e.preventDefault();
  var input = $(this).siblings(".ap__spinner-input");
  var old = parseFloat(input.val()) || 0;
  input.val(old + 1);
  input.change();
  });

  $(".ap__text--profit").hover(function () {
  $(this).siblings(".ap__tooltip").show();
  }, function () {
  $(this).siblings(".ap__tooltip").hide();
  });

  $(".ap__show-variations").click(function (e) {
  e.preventDefault();
  $(this).siblings(".ap__variations-hidden").slideToggle();
  $(this).toggleClass("active");
  });

  $('.ap__faq-icon').hover(function(){
  $(this).siblings('.ap__tooltip').show();
  },
  function(){
  $(this).siblings('.ap__tooltip').hide();
  });
  });

  chrome.storage.sync.get({ toggle_open: true }, function (data) {
  if (!data.toggle_open) {
  $(".ap__box .ap__body").slideUp();
  $(".ap__box .ap__toggle-link").attr("data-open", false);
  $(".ap__box .ap__toggle-link").removeClass("open");
  }
  });
  $(".ap__toggle-link").on("click", function () {
  var isOpen = $(this).attr("data-open") == "true";
  if (isOpen) {
  $(".ap__box .ap__body").slideUp();
  $(this).attr("data-open", false);
  $(this).removeClass("open");
  chrome.storage.sync.set({ toggle_open: false});
  }
  else {
  $(".ap__box .ap__body").slideDown();
  $(this).attr("data-open", true);
  $(this).addClass("open");
  chrome.storage.sync.set({ toggle_open: true});
  }
  });

</script>