<div class="ap__box ap__box--dark" id="pimports_ext10">
    <div class="ap__header">
        <div class="ap__wrap">
            <ul class="ap__menu">
                <li class="ap__menu-list">
                    <a href="#" class="ap__menu-link link_reviews">
                        Reviews <span class="ap__reviews-number">2k</span>
                        <span class="ap__progress-bar">
                            <span class="ap__progress-bar__item ap__progress-bar--1"></span>
                        </span>
                    </a>
                </li>
                <li class="ap__menu-list"><a href="#" target="_blank" class="ap__menu-link link_sellers">Sellers</a></li>
                <li class="ap__menu-list"><a href="#" target="_blank" class="ap__menu-link link_calc">Amz Calc</a></li>
                <li class="ap__menu-list"><a href="#" target="_blank" class="ap__menu-link link_details">StockStats</a></li>
            </ul>
            <span class="ap__header-separator"></span>
            <a href="#" class="ap__show-saved" id="save"><i class="icon icon-saved"></i></a>
            <a href="<%= show_saved_url %>"  target="_blank" class="ap__show-saved link_saved">Show saved</a>
            <span class="ap__header-separator"></span>
            <a href="#" class="ap__keepa-link link_keepa" target="_blank"></a>
            <a href="#" class="ap__camel-link link_camel" target="_blank"></a>
        </div><!--/.ap__wrap-->
    </div><!--/.ap__header-->
    <div class="ap__breadcrumbs">
        <div class="ap__wrap" id="amz_seller_rank">
            <a href="#"><span>#5</span> in Computers & Accessories</a> → <a href="#">Computer Accessories</a> → <a href="#">Keyboards, Mice & Accessories</a> → Mice
        </div><!--/.ap__wrap-->
    </div><!--/.ap__breadcrumbs-->
    <div class="ap__about-buying">
        <div class="ap__wrap">
            <div class="ap__column ap__column--medium">
                <div class="ap__form-group">
                    <label class="ap__label">Sell price</label>
                    <div class="ap__form-box ap__form-box--bg">
                        <div class="ap__input-box">
                            <span class="ap__valute">$</span>
                            <input type="text" class="ap__input ap__input-text" value="10" id="sell_price">
                        </div><!--/.ap__input-box-->
                    </div><!--/.ap__form-box-->
<!--                    <div class="ap__form-box ap__form-box--flex ap__form-box--bg">
                        <div class="ap__input-box ap__input-box--small">
                            <span class="ap__valute">$</span>
                            <input type="text" class="ap__input ap__input-text" value="15" id="sell_price">
                        </div>/.ap__input-box
                        <div class="ap__select">
                            <a href="#" class="ap__open-dropdown"></a>
                            <span class="ap__valute">%</span>
                            <input type="text" class="ap__input ap__select-input" value="15" maxlength="3">
                            <ul class="ap__dropdown">
                                <li class="ap__dropdown-list"><a href="#" class="ap__dropdown-link">10%</a></li>
                                <li class="ap__dropdown-list"><a href="#" class="ap__dropdown-link">25%</a></li>
                                <li class="ap__dropdown-list"><a href="#" class="ap__dropdown-link">50%</a></li>
                                <li class="ap__dropdown-list"><a href="#" class="ap__dropdown-link">75%</a></li>
                                <li class="ap__dropdown-list"><a href="#" class="ap__dropdown-link">100%</a></li>
                                <li class="ap__dropdown-list"><a href="#" class="ap__dropdown-link">200%</a></li>
                            </ul>
                        </div>
                    </div>/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">Buy price</label>
                    <div class="ap__form-box ap__form-box--bg">
                        <div class="ap__input-box">
                            <span class="ap__valute">$</span>
                            <input type="text" class="ap__input ap__input-text" value="10" id="buy_price">
                        </div><!--/.ap__input-box-->
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">Quantity</label>
                    <div class="ap__form-box ap__form-box--bg">
                        <div class="ap__spinner">
                            <a href="#" class="ap__spinner-link ap__spinner-down"></a>
                            <a href="#" class="ap__spinner-link ap__spinner-up"></a>
                            <input type="text" class="ap__spinner-input" value="1" id="quantity">
                        </div>
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">Profit</label>
                    <div class="ap__form-box ap__form-box--flex">
                        <div class="ap__input-box ap__input-box--small">
                            <span class="ap__valute" id="currency">$</span>
                            <p class="ap__text ap__text--profit" id="profit">0.97</p>
                        </div><!--/.ap__input-box-->
                        <div class="ap__show-fees-box">
                            <a href="#" class="ap__show-fees">Show fees</a>
                            <div class="ap__show-fees-dropdown">
                                <table class="ap__fees-table">
                                    <!--
                                    <tr>
                                        <td>Order Handling Fee</td>
                                        <td><span>$</span>1</td>
                                    </tr>
                                    <tr>
                                        <td>Storage Fee</td>
                                        <td><span>$</span>0.01</td>
                                    </tr>
                                    <tr>
                                        <td>Variable Closing Fee</td>
                                        <td><span>$</span>0</td>
                                    </tr>
                                    <tr>
                                        <td>Pick and Pack Fee</td>
                                        <td><span>$</span>1.06</td>
                                    </tr>
                                    <tr>
                                        <td>Fixed Closing Fee</td>
                                        <td><span>$</span>0</td>
                                    </tr>
                                    <tr>
                                        <td>Referral Fee</td>
                                        <td><span>$</span>1</td>
                                    </tr>
                                    <tr>
                                        <td>Weight Handling Fee</td>
                                        <td><span>$</span>0.96</td>
                                    </tr>
                                    -->
                                </table>
                                <table class="ap__fees-table ap__fees-table--total">
                                    <tr>
                                        <td>Total by 1 item</td>
                                        <td id="pimp_fee_total">
                                            <span class="currency">$</span>
                                            <span class='val'>4.03</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Full total</td>
                                        <td id="pimp_fee_total_final">
                                            <span class="currency">$</span>
                                            <span class='val'>403</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>  
                        </div>
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">Net profit</label>
                    <div class="ap__form-box">
                        <div class="ap__input-box">
                            <div class="ap__tooltip-box">
                                <span class="ap__valute" id="currency">$</span>
                                <p class="ap__text ap__text--profit" id="net_profit">97</p>
                                <div class="ap__tooltip">
                                    <p class="ap__tooltip-text">
                                        <span class="ap__tooltip-relative ap__color-green" id="net_profit_sale">$1,500<em class="ap__tooltip-info-text">SALE</em></span> 
                                        – 
                                        <span class="ap__color-red">
                                            (<span class="ap__tooltip-relative" id="net_profit_buy">$1,000<em class="ap__tooltip-info-text">BUY</em></span> + <span class="ap__tooltip-relative" id="net_profit_fee">$403<em class="ap__tooltip-info-text">FEES</em></span>)
                                        </span> 
                                        = <span class="ap__tooltip-text-last" id="net_profit_net_profit">$97</span></p>
                                </div>
                            </div>
                        </div><!--/.ap__input-box-->
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">ROI</label>
                    <div class="ap__form-box ap__form-box--flex">
                        <span class="ap__roi ap__roi-color-1" id="roi">7%</span>
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
            </div><!--/.ap__column-->
            <div class="ap__column">
                <div class="ap__form-group">
                    <label class="ap__label">ASIN</label>
                    <div class="ap__form-box">
                        <p class="ap__text" id="_asin">B001DHECXA</p>
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">Weight</label>
                    <div class="ap__form-box">
                        <p class="ap__text" id="_weight">0.3 ounces</p>
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">Dimensions</label>
                    <div class="ap__form-box ap__form-box--flex">
                        <div class="ap__dimensions">
                            <p class="ap__text" id="_dim_w">-</p>
                            <span class="ap__text--sizes">W</span>
                        </div>
                        <span class="ap__dimensions-separator">x</span>
                        <div class="ap__dimensions">
                            <p class="ap__text" id="_dim_h">-</p>
                            <span class="ap__text--sizes">H</span>
                        </div>
                        <span class="ap__dimensions-separator">x</span>
                        <div class="ap__dimensions">
                            <p class="ap__text" id="_dim_d">-</p>
                            <span class="ap__text--sizes">D</span>
                        </div>
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">FBA Sellers</label>
                    <div class="ap__form-box">
                        <p class="ap__text" id="_fba">2</p>
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">MFN Sellers</label>
                    <div class="ap__form-box">
                        <p class="ap__text" id="_fbm">1</p>
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
                <div class="ap__form-group">
                    <label class="ap__label">Est. Sales</label>
                    <div class="ap__form-box">
                        <p class="ap__text" id="_sales">Loading...</p>
                    </div><!--/.ap__form-box-->
                </div><!--/.ap__form-group-->
            </div><!--/.ap__column-->
        </div><!--/.ap__wrap-->
    </div><!--/.ap__about-buying-->
    <div class="ap__variations">
        <a href="#" class="ap__show-variations" id="pimp_show_variations">Show variations<i class="icon-chevron"></i></a>
        <div class="ap__variations-hidden">
            <div class="ap__wrap" id="pimp_variations_div">
                <table class="ap__table">
                    <thead>
                        <tr>
                            <th>ASIN</th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Offers</th>
                        </tr>
                    </thead>
                    <tbody>
<!--                        <tr>
                            <td>B01G4DVP1E</td>
                            <td>7 D(M) US</td>
                            <td>Black/Storm Cloud</td>
                            <td><span>$</span> 248</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>B014K3FDVS</td>
                            <td>7 D(M) US</td>
                            <td>Black/White</td>
                            <td><span>$</span> 230</td>
                            <td>1</td>
                        </tr>-->
                    </tbody>
                </table>
            </div><!--/.ap__wrap -->
        </div><!--/.ap__variations-hidden-->
    </div><!--/.ap__variations-->
</div><!--/.ap__box-->

<script>
    $(document).ready(function () {
        $(".ap__select .ap__open-dropdown").click(function (e) {
            e.preventDefault();
            $(this).siblings(".ap__dropdown").first().slideToggle();
        });

        $(".ap__dropdown-link").click(function (e) {
            e.preventDefault();
            var val = parseFloat($(this).text());
            var dropdown = $(this).parents(".ap__dropdown");
            dropdown.slideUp();
            dropdown.siblings('.ap__select-input').val(val);
        });

        $(".ap__show-fees").hover(function () {
            $(this).siblings(".ap__show-fees-dropdown").show();
        }, function () {
            $(this).siblings(".ap__show-fees-dropdown").hide();
        });

        $(".ap__spinner .ap__spinner-down").click(function (e) {
            e.preventDefault();
            var input = $(this).siblings(".ap__spinner-input");
            var old = parseFloat(input.val()) || 0;
            input.val(old - 1);
            input.change();
        });

        $(".ap__spinner .ap__spinner-up").click(function (e) {
            e.preventDefault();
            var input = $(this).siblings(".ap__spinner-input");
            var old = parseFloat(input.val()) || 0;
            input.val(old + 1);
            input.change();
        });

        $(".ap__text--profit").hover(function () {
            $(this).siblings(".ap__tooltip").show();
        }, function () {
            $(this).siblings(".ap__tooltip").hide();
        });

        $(".ap__show-variations").click(function (e) {
            e.preventDefault();
            $(this).siblings(".ap__variations-hidden").slideToggle();
            $(this).toggleClass("active");
        });
    });
</script>