<div id='pimports_ext10'> 
    <div id='div_left'>
        <div class='asi_row'>
            <h2 class="logo">
                <img src="<%= logo %>" />
            </h2>
            <table class="links_table"> 
                <tbody>
                    <tr> 
                        <td><a target='_blank' href='#'>Product Page</a></td> 
                        <td><a target='_blank' href='#'>Reviews</a></td> 
                        <td><a target='_blank' href='#'>Sellers</a></td> 
                        <td><a target='_blank' href='#'>Amazon Calc</a></td> 
                        <td><a target='_blank' href='#'><img class="pimp_top_bar_icon" src="<%= keepa_logo_link %>" /></a></td> 
                        <td><a target='_blank' href='#'><img class="pimp_top_bar_icon" src="<%= camel_logo_link %>" /></a></td> 
                        <td><a target='_blank' href='#' id='pimp_start_stock_stat'>Get Seller Stock Levels</a></td> 
                        <td><a target='_blank' href='#' id='save'>Save</a></td> 
                        <td><a target='_blank' href='<%= show_saved_url %>' id='show_save'>Show Saved Products</a></td> 
                    </tr> 
                </tbody>
            </table>
        </div> 
        <div class='asi_row'> 
            <h2 id='amz_seller_rank'></h2>
        </div> 
        <div class='asi_row'>
            <div id="calculator">
                <table>
                    <tr>
                        <td>Sell Price</td>
                        <td>
                            <input type="number" id="sell_price" value="0.00" />
                        </td>
                    </tr>
                    <tr>
                        <td>Buy Price</td>
                        <td>
                            <input type="number" id="buy_price" value="0.00" />
                        </td>
                    </tr>
                    <tr>
                        <td>Profit</td>
                        <td>
                            <span id="currency">$</span>
                            <span id="profit">0.00</span>
                        </td>
                    </tr>
                    <tr>
                        <td>ROI</td>
                        <td id="roi">0.00</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>
                            <input type="number" id="quantity" value="1" />
                        </td>
                    </tr>
                    <tr>
                        <td>Net Profit</td>
                        <td>
                            <span id="currency">$</span>
                            <span id="net_profit">0.00</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="info" class="rltv">
                <div class='asi_row'>
                    <table class='asi_table'> 
                        <thead>
                            <tr>
                                <th>Information</th>
                            </tr>
                        </thead>
                    </table>
                    <table class='asi_table'> 
                        <tbody>
                            <tr> 
                                <td>ASIN</td>
                                <td id='_asin'>Loading...</td> 
                            </tr>
                            <tr> 
                                <td>Weight</td>
                                <td id='_weight'>Loading...</td> 
                            </tr>
                            <tr> 
                                <td>Dimensions</td>
                                <td id='_dim'>Loading...</td> 
                            </tr>
                            <tr> 
                                <td>FBA Sellers</td>
                                <td id='_fba'>Loading...</td> 
                            </tr>
                            <tr> 
                                <td>MFN Sellers</td>
                                <td id='_fbm'>Loading...</td> 
                            </tr>
                            <tr> 
                                <td>Est. Sales per Month</td>
                                <td id='_sales'>Loading...</td> 
                            </tr>
                            <tr>
                                <td>
                                    <a id="pimp_show_variations" href="#">Show variations</a>
                                </td>
                                <td>
                                    <a id="pimp_show_fees" href="#">Show Fees</a>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div id="pimp_fees">
                        <span class="header">Fees</span>
                        <table>
                        </table>
                    </div>
                </div> 
                <div class='asi_row'>
                    
                    
                    
                </div> 
            </div>
        </div> 
    </div> 
    
    <div id="pimp_variations_div">
        <table>
            <thead>
                <tr>
                    <th>ASIN</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Offers</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>